<div class="table-container">
  <p-table
    class="custom_table"
    [columns]="column"
    [value]="candidateList"
    [scrollable]="true"
    scrollHeight="calc(79vh - 10px)"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="email_Managername" style="width: 20rem">
              Manager <p-sortIcon field="email_Managername"></p-sortIcon>
            </th>

        <th style="width: 20rem">Candidate Name</th>

        <th style="width: 20rem">File Name</th>

        <th pSortableColumn="email_Status" style="width: 20rem">
          Status <p-sortIcon field="Status"></p-sortIcon>
        </th>

        <th pSortableColumn="score" style="width: 3rem">Score
          <p-sortIcon field="score"></p-sortIcon>
        </th>

        <th pSortableColumn="result" style="width: 20rem">Result
          <p-sortIcon field="result"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr class="table-row">

        <td style="width: 20rem">{{ rowData.email_Managername }}</td>
        <td style="width: 20rem">{{ rowData.candidateName }}</td>
        <td style="width: 20rem">
          <ng-container *ngIf="rowData.email_Status==='Submitted' else normalText">
                <a class="submitted-link" (click)="showDialog(rowData)">{{ rowData.email_Filename }}</a>
            </ng-container>
            <ng-template #normalText>
                {{ rowData.email_Filename }}
            </ng-template>
    
        </td>
        <td style="width: 20rem">{{ rowData.email_Status }}</td>
        <td style="width: 20rem">{{ rowData.score }}</td>
        <td style="width: 20rem"> {{ rowData.result }}</td>

        
      </tr>
    </ng-template>
  </p-table>

  
<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '75vw' }" [draggable]="false" [resizable]="false">

    <ng-container *ngIf="FinalizedQuestions.length > 0">
    <div
      *ngFor="let question of FinalizedQuestions; let i = index"
      class="question_sec"
    >
      <h3>{{ i + 1 }}. {{ question.question }}</h3>

      <ng-container *ngIf="question.questionType === 'Checkbox'">
        <div class="vertical-options-checkbox display-row">
          <div *ngFor="let option of question.options" class="option">
            <p-checkbox
              [(ngModel)]="question.selectedOption"
              class="mr-2"
              [value]="option"
              inputId="binary"
              [class.correct-option]="
                question.selectedOption &&
                question.selectedOption.includes(option)
              "
            ></p-checkbox>

            <span class="correct-option">
              {{ option }}
            </span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="question.questionType === 'Radio'">
        <div class="vertical-options">
          <div *ngFor="let option of question.options" class="option">
            <p-radioButton
              [(ngModel)]="question.selectedOption"
              [value]="option"
              class="mr-1"
              [class.correct-option]="question.selectedOption === option"
            ></p-radioButton>

            {{ option }}
          </div>

          <div class="review-buttons">
            <button
              pButton
              type="button"
              icon="pi pi-check"
              class="p-button"
              (click)="markAsCorrect(i)"
              style="padding: auto;"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-times"
              class="p-button-danger"
              (click)="markAsIncorrect(i)"
              style="padding: auto;"
            ></button>
          </div>
        </div>
      </ng-container>
    </div>

  </ng-container>
  <div class="submit-button-container">
    <div>
        <p-toast></p-toast>
        <button type="button"  pButton pRipple label="Submit" class="p-button-primary" (click)="submitReview(FinalizedQuestions)" style="margin-left: 75%;"></button>
  
    </div>
  <!-- <div class="Score-Result">
    Score: {{ score }}%
  </div>

  <div class="Score-Result">
    {{ result }}
  </div> -->

</div>

</p-dialog>
</div>
