<div class="whole-design">
  <div class="assesment-header">
    <p class="assessment-text">Assessments</p>
  </div>
 
  <div class="flex justify-content-start bread">
    <p-breadcrumb class="max-w-full breadclass" [model]="items"></p-breadcrumb>
  </div>
 
  <div class="candidate-table">
    <p-table
      class="candidateTable"
      [resizableColumns]="true"
      [autoLayout]="true"
      [value]="candidateList"
      #dt1
      [paginator]="true"
      [tableStyle]="{ height: 'max-content' }"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[4, 8, 12]"
      [globalFilterFields]="[
        'candidateName',
        'email_Managername',
        'email_Filename',
        'skills',
        'results',
        'score'
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="10">
            <div class="filter-components">
              <div>
                <span class="p-input-icon-right ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="
                      dt1.filterGlobal($any($event.target).value, 'contains')
                    "
                    placeholder="Search"
                  />
                </span>
              </div>
              <div class="customMultiselect">
                <p-columnFilter
                  field="email_Managername"
                  matchMode="in"
                  [showMenu]="false"
                  [showClearButton]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-multiSelect
                   
                      [ngModel]="value"
                      appendTo="body"
                      [options]="managerOption"
                      placeholder="Manager"
                      (onChange)="filter($event.value)"
                      [maxSelectedLabels]="1"
                      [selectedItemsLabel]="'{0} items'"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="inline-block vertical-align-middle">
                          <span class="ml-1 mt-1">{{ option }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="customMultiselect">
                <p-columnFilter
                  field="candidateName"
                  matchMode="in"
                  [showMenu]="false"
                  [showClearButton]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-multiSelect
                      [ngModel]="value"
                      appendTo="body"
                      [options]="candidateNames"
                      placeholder="Candidate(s)"
                      (onChange)="filter($event.value)"
                      [maxSelectedLabels]="1"
                      [selectedItemsLabel]="'{0} items'"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="inline-block vertical-align-middle">
                          <span class="ml-1 mt-1">{{ option }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="customMultiselect">
                <p-columnFilter
                  field="results"
                  matchMode="equals"
                  [showMenu]="false"
                  [showClearButton]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-dropdown
                      [ngModel]="value"
                      [options]="status"
                      (onChange)="filter($event.value)"
                      placeholder="Status"
                      [showClear]="true"
                    >
                      <ng-template let-option pTemplate="item">
                        <!-- <p-tag [value]="option" [ngClass]="getResultClass(option)"></p-tag>  -->
                        <span class="ml-1 mt-1">{{ option }}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="customMultiselect">
                <p-columnFilter
                  field="Skill"
                  matchMode="contains"
                  [showMenu]="false"
                  [showClearButton]="true"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-multiSelect
                      [ngModel]="value"
                      appendTo="body"
                      [options]="skillSet"
                      placeholder="Skills"
                      (onChange)="filter($event.value)"
                      [maxSelectedLabels]="1"
                      [selectedItemsLabel]="'{0} items'"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="inline-block vertical-align-middle">
                          <span class="ml-1 mt-1">{{ option }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div>
                <button
                  pButton
                  label="Clear filter"
                  class="p-button-outlined p-button-danger"
                  [style]="{ width: '130px' }"
                  (click)="clear(dt1)"
                ></button>
              </div>
            </div>
          </th>
        </tr>
 
        <tr>
          <th>Seq.No</th>
          <th>Candidate Name</th>
          <th>Manager</th>
 
          <th>Assessment</th>
          <th>Date</th>
          <th>Skills</th>
          <th>Result</th>
          <th>Score(%)</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
 
      <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ rowData.candidateName }}</td>
          <td>{{ rowData.email_Managername }}</td>
          <td class="assessmentName">{{ rowData.email_Filename }}</td>
          <td>{{ rowData.Managername }}</td>
 
          <td class="skills">
            <span *ngFor="let item of getFormattedSkills(rowData.Skill).skills">
              <p-chip class="chipdesign" label="{{ item }}"></p-chip>
            </span>
            <span *ngIf="getFormattedSkills(rowData.Skill).remainingCount > 0" class="plusIcon"
              >
              +
              <p-overlayPanel #op>
                <ul
                  *ngFor="
                    let skill of remainaingSkills(
                      rowData.Skill,
                      getFormattedSkills(rowData.Skill).remainingCount
                    )
                  "
                >
                  <li>
                    {{ skill }}
                  </li>
                </ul>
              </p-overlayPanel>
              <p-badge
                class="cursor-design"
                (click)="op.toggle($event)"
                [value]="
                  getFormattedSkills(rowData.Skill).remainingCount.toString()
                "
              ></p-badge>
            </span>
          </td>
 
          <td>
            <div class="resultDesign">
              <p [ngClass]="getResultClass(rowData.results)">
                <span>{{ rowData.results }}</span>
              </p>
 
            </div>
           
          </td>
          <td>{{ rowData.score }}</td>
 
          <td><i class="pi pi-check" style="color: #c1abd3"></i></td>
          <td>
            <i class="pi pi-ellipsis-h" (click)="handleEllipsisDialog()"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
 
<p-dialog [(visible)]="openEllipsisDialogBox" [style]="{ width: '20vw' }">
  <ul>
    <li>
      <p>Evaluate</p>
    </li>
    <li>
      <p>Preview</p>
    </li>
  </ul>
</p-dialog>
 