<div class="sidebar-menu">
  <div>
    <div class="side1">
      <ul class="navList">
        <li class="li-name">
          <a href="#" class="navNames">
            <i class="pi pi-th-large sideIcon"></i>
            Home
          </a>
        </li>
        <li class="li-name">
          <a href="#" class="navNames">
            <i class="pi pi-map sideIcon"></i>Assessment
          </a>
          <i
            class="pi pi-angle-down sideIcon"
            (onclick)="changeStyle()"
            [ngClass]="{ 'sub-menu': submenuAssessment }"
          ></i>
        </li>
        <ul class="sub-menu1">
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a"> Manage Schedule</a>
          </li>
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a">Manage Assessment</a>
          </li>
        </ul>
        <li class="li-name">
          <a href="#" class="navNames">
            <i class="pi pi-user sideIcon"></i>User
          </a>
          <i
            class="pi pi-angle-down sideIcon"
            (onclick)="changeStyle()"
            [ngClass]="{ 'sub-menu': submenuAssessment }"
          ></i>
        </li>
        <ul class="sub-menu1">
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a"> Manage Managers </a>
          </li>
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a">Manage Candidates </a>
          </li>
        </ul>
        <li class="li-name">
          <a href="#" class="navNames">
            <i class="pi pi-book sideIcon"></i>Question Bank
          </a>
          <i
            class="pi pi-angle-down sideIcon"
            (onclick)="changeStyle()"
            [ngClass]="{ 'sub-menu': submenuAssessment }"
          ></i>
        </li>
        <ul class="sub-menu1">
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a"> Manage Skills</a>
          </li>
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a">Manage Questions</a>
          </li>
        </ul>
        <li class="li-name">
          <a href="#" class="navNames">
            <i class="pi pi-cog sideIcon"></i>

            System
          </a>
          <i
            class="pi pi-angle-down sideIcon"
            (onclick)="changeStyle()"
            [ngClass]="{ 'sub-menu': submenuAssessment }"
          ></i>
        </li>
        <ul class="sub-menu1">
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a"> Manage Profile</a>
          </li>
          <li class="sub-menu-li">
            <a href="#" class="sub-menu-a">Manage Configuration</a>
          </li>
        </ul>
      </ul>
    </div>

    <div class="sideDown">
      <ul class="navList2">
        <li class="li-name-down">
          <a href="#" class="navNames">
            <i class="pi pi-question-circle sideIcon"></i>
            Help
          </a>
        </li>
        <li class="li-name-down">
          <a href="#" class="navNames">
            <i class="pi pi-power-off sideIcon"></i>

            Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="toggle-btn">
    <i class="pi pi-chevron-circle-right toggle-btn"></i>
  </div>
</div>
