@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
// .sidebar-menu {
//   display: flex;
//   flex-direction: row;
//   font-weight: normal;
//   font-family: "Poppins", sans-serif;
//   position: fixed;
//   width: 250px;
//   height: 968px;
//   gap: 10px;
//   transition: left 0.3s ease-in-out;
//   li {
//     display: flex;
//     text-align: center;
//     justify-content: space-between;
//   }
// }
// .navList {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   width: 218px;
//   height: 412px;
//   top: 16px;
//   left: 16px;
//   gap: 10px;

//   &:hover {
//     color: #f2f2f2;
//   }
// }
// .sideIcon {
//   position: relative;
//   margin-right: 10px;
//   color: #00000099;
//   &:hover {
//     color: #f2f2f2;
//   }
// }
// // .sideIcon1 {
// //   margin-right: 3px;
// //   color: #00000099;
// //   transform: translateY(-23%);
// //   transform: translateX(-15%);
// //    &:hover {
// //     color: #f2f2f2;

// //   }
// // }
// // .sideIcon2 {
// //   color: #00000099;
// //   margin-left: 10px;
// //   margin-right: 3px;
// //   transform: translateX(-15%);
// //   &:hover {
// //     color: #f2f2f2;
// //   }
// // }
// .side1 {
//   height: 572px;
// }
// .navList2 {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   width: 218px;
//   height: 34px;
//   padding: 5px, 8px, 5px, 8px;
//   border-radius: 4px;
//   gap: 8px;
// }
// .sub-menu-a {
//   color: #00000099;
//   text-decoration: none;
//   &:hover {
//     color: #f2f2f2;
//   }

// }
// .sub-menu-li{

// }
// .sub-menu1 {
//   display: none;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-bottom: 5px;
//   padding-top: 5px;
//   padding-left: 8px;
//   padding-right: 8px;

// }
// #ass-show{
//   display: block;
//   list-style: circle;

// }
// .navNames {
//   text-decoration: none;
//   display: flex;
//   text-align: center;
//   align-items: center;
//   color: #00000099;

//   padding: 5px 8px;
//   transition: background-color 0.3s;

//   &:hover {
//     color: #f2f2f2;
//   }
//   &.active {
//     color: #f2f2f2;
//   }
// }
// .li-name {
//   width: 218px;
//   height: 34px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-bottom: 5px;
//   padding-top: 5px;
//   padding-left: 8px;
//   padding-right: 8px;
//   border-radius: 4px;
//   gap: 8px;
//   background-color: #f2f2f2;
//   display: flex;
//   align-items: center;

//   &:hover {
//     background: #c81a78;
//     color: #f2f2f2;
//     .sideIcon {
//       color: #fff;
//     }

//     .navNames {
//       color: #f2f2f2;
//     }
//     .navNames .svg {
//       fill: #f2f2f2;
//     }
//   }
//   &.active {
//     background-color: #652d90;
//     color: #f2f2f2;
//   }
//   &.active .navNames {
//     background-color: #652d90;
//     color: #f2f2f2;
//   }
// }
// .sub-menu-li{
//   width: 218px;
// height: 34px;
// border-radius: 4px;
// gap: 8px;
//  padding: 0;
// &:hover {
//     background: #c81a78;
//     color: #f2f2f2;
//     .sub-menu-a {
//   color: #f2f2f2;
//     }
//   }

// }
// .li-name-down {
//   width: 218px;
//   height: 34px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-bottom: 5px;
//   padding-top: 5px;
//   padding-left: 8px;
//   padding-right: 8px;
//   border-radius: 4px;
//   gap: 8px;

//   &:hover {
//     background: #c81a78;
//     color: #f2f2f2;
//     .sideIcon,
//     .sideIcon {
//       color: #fff;
//     }
//   }

//   &:hover .navNames {
//     color: #f2f2f2;
//   }
// }
// .sideDown {
//   width: 218px;
//   height: 78px;
//   top: 874px;
//   left: 16px;
//   gap: 10px;
// }
// .toggle-btn {
//   cursor: pointer;
//   width: 24px;
//   height: 24px;
//   top: 21px;
//   left: 262px;
//   padding: 7px, 0px, 7px, 0px;
//   border-radius: 12px;
//   gap: 8px;
// }
.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  height: 968px;
  gap: 10px;
  color: #00000099;
  transition: width 0.6s ease;
}
.disabled {
  color: #f2f2f2;
}

.ul1,
.ul2 {
  padding: 0;
  list-style: none;
  width: 218px;
  height: 572px;
  top: 16px;
  left: 16px;
  gap: 10px;
}
.ul1 li.active {
  background-color: #652d90;
  color: #f2f2f2;
  .disabled {
    color: #652d90;
  }
  &:hover {
    background: #652d90;
    color: #f2f2f2;
    .disabled {
      color: #652d90;
    }
  }
}
.ul1 span {
  transition: width 0.6s ease;
}
.ul1 li {
  background: #f2f2f2;
}
.ul2 {
  width: 218px;
  height: 78px;
  margin-top: 300px;
  left: 16px;
  gap: 10px;
}
ul li a {
  color: #00000099;
}
.ul1 li,
.ul2 li {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 218px;
  height: 34px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px, 8px, 5px, 8px !important;
  border-radius: 4px;
  gap: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;

 
  &:hover {
    background: #c81a78;
    color: #f2f2f2;

    .disabled {
      color: #c81a78;
    }
  }
  &:hover a {
    background: #c81a78;
    color: #f2f2f2;
  }

  i {
    width: 24px;
    height: 24px;
    padding: 3.1px, 3px, 3.1px, 3px;
    margin-top: 5px;
  }
  p,
  a {
    text-decoration: none;
    width: 152px;
    height: 19px;
    font-family: "Avenir", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.25px;
    text-align: left;
  }
}
.toggle-btn {
  cursor: pointer;
  // position: absolute;
  // transform: translateX(472%);
  // width: 24px;
  // height: 24px;
  margin-top: 12px;
  margin-left: -4px;
  padding: 7px, 0px, 7px, 0px;
  border-radius: 12px;
  gap: 8px;
}
.sub-list {
  padding: 0;
  background-color: white;
  margin-left: 0px;
  transition: width 0.6s ease;

  li {
    background: white;
    &:hover svg rect {
      stroke: white;
      fill: white;
    }
    a {
      margin-left: 8px;
    }
    svg {
      margin-left: -29px;
    }
  }
}

// ul li:hover span {
//   transform: translateX(-38%) rotate(-180deg);
// }
.ul1 ul .ass-show.show {
  display: block;
}

.side-nav.collapsed {
  width: 72px;
  height: 968px;
  top: 16px;
  left: 282px;
  gap: 10px;
  transition: width 0.6s ease;

  .toggle-btn {
    transform: rotate(-180deg);
  }
  .ul1 {
    width: 40px;
    height: 220px;
    top: 16px;
    left: 16px;
    gap: 10px;
  }
  .ul1 span {
    transition: width 0.6s ease;
  }
  .ul2 {
    width: 40px;
    height: 78px;
    margin-top: 650px;
    left: 16px;
    gap: 10px;
  }
  .ul1 li,
  .ul2 li {
    width: 40px;
    height: 34px;
    padding: 5px, 8px, 5px, 8px;
    border-radius: 4px;
    gap: 8px;
    background: white;

    &:hover {
      background: #c81a78;
      color: #f2f2f2;
    }
  }
}

.side-nav.collapsed {
  .ul1 a,
  .ul1 p,
  .ul2 a,
  .ul2 p,
  span {
    display: none;
    transition: width 0.6s ease;
  }
}
