.onboardingTable{
    margin: 10px 0px 0px 30px;
}

.title{
    margin: 30px 0px 0px 30px;
}

.BreadCrumb {
    ::ng-deep .p-breadcrumb {
      overflow-x: auto;
      background: transparent;
      padding-left: 0;
    }
    ::ng-deep {
      .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
        color: #1e22aa;
      }
      .p-icon {
        display: inline-block;
        height: 13px;
        width: 8px;
        color: #00000061;
      }
      .p-icon-wrapper {
        display: inline-flex;
        padding-top: 3px;
    }
    .pi-home:before {
      content: "\e925";
      padding-right: 5px;
  }
    }
  }