<div class="navbar">
  <div class="logo cursor-pointer" id="logo">
    <img src="../assets/mphasis-logo.png" alt="Logo" (click)="refreshPage()" />
  </div>
  <div>
    <h1 class="navbar-title mr-5 pr-5">TALENT HUNT</h1>
  </div>

  <div class="welcome-name">
  
     <p-avatar 
     [label]="getInitials(userName)"
     styleClass="mr-2" size="normal" [style]="{ 'background': '#C81A78', color: '#ffffff' }" shape="circle"></p-avatar>
    <p class="candidate-name">{{ userName }}</p>
  </div>


</div>

