<div class="navbar">
  <div class="logo cursor-pointer" id="logo">
    <img src="../assets/mphasis-logo.png" alt="Logo" (click)="refreshPage()" />
  </div>
  <div>
    <h1 class="navbar-title mr-5 pr-5">TALENT HUNT</h1>
  </div>

  <div class="welcome-name">
    <p class="welcome">Welcome</p>
    
    <p class="candidate-name">{{ userName }}</p>
  </div>

  <div class="profile-icon cursor-pointer" (click)="toggleDropdown()">
    <!-- Profile Icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="1.5em"
      viewBox="0 0 448 512"
    >
      <path
        d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
      />
    </svg>
    <!-- Dropdown Menu -->
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <ul>
        <li class="myprofileicon" (click)="redirectToProfile()">My Profile</li>

        <li (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>
</div>

<!-- My profile -->

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '20vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="top-right">
      <ng-container *ngIf="isEditProfile; else myprofile">
        Edit Profile
      </ng-container>

      <ng-template #myprofile>
        <div class="edit-profile">
          <div>My Profile</div>

          <div class="ml-2">
            <span *ngIf="!isEditProfile" (click)="toggleEditProfile()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#526D82"
                x="0px"
                y="0px"
                width="24"
                height="18"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z"
                ></path>
              </svg>
              <i class="fa fa-edit"></i>
            </span>
          </div>
        </div>
      </ng-template>
    </div>
  </p-header>

  <div class="myprofile">
    <div class="input-1">
      <input
        type="text"
        pInputText
        placeholder="Name"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="tempUserName"
        required
        [readonly]="!isEditProfile"
      />
    </div>

    <div class="input-2">
      <input
        type="text"
        pInputText
        placeholder="Email Id"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="userEmail"
        required
        [readonly]="!isEditProfile"
      />
    </div>
    <div class="input-3">
      <p-inputNumber
        inputId="withoutgrouping"
        [useGrouping]="false"
        placeholder="Phone Number"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="userPhone"
        [readonly]="!isEditProfile"
      >
      </p-inputNumber>
    </div>
  </div>

  <!-- Cancel Save button -->
  <div class="actionbuttons">
    <button
      *ngIf="isEditProfile"
      class="btn btn_cancel cursor-pointer mr-3"
      (click)="closedialog()"
    >
      Cancel
    </button>
    <button
      *ngIf="isEditProfile"
      class="btn cursor-pointer"
      (click)="updateDetails()"
    >
      Update
    </button>
  </div>
</p-dialog>
