@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300&display=swap');
 
.top-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--01-primary-500, #652D90);
  box-shadow: 0px 1px 5px 0px rgba(179, 171, 186, 0.20), 0px 3px 1px 0px rgba(179, 171, 186, 0.12), 0px 2px 2px 0px rgba(179, 171, 186, 0.14);
}
 
.logo-container {
  width: 89.268px;
  height: 30px;
  display: flex;
  flex-direction: row;
 
  img {
    width: 89.27px;
    height: 30px;
  }
}
 
.vrline {
  border-left: 1px solid #FFFFFF61;
  height: 30px;
  width: 1px;
  rotate: -90;
  color: #ffffff;
  // margin-left:10px ;
  margin: 0px 10px;
}
 
.vrline1 {
  // rotate: -90;
  height: 36px;
  border: 1px;
  background: #FFFFFF61;
  border: 1px solid #FFFFFF61
}
 
 
.logo-slogan {
 
  margin: 5px 10px;
}
 
 
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 5px 10px;
  width: 302px;
  height: 36px;
  gap: 16px;
 
}
 
 
.ic {
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 36px;
}
 
.user-info {
  width: 130px;
  height: 36px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.user-name {
  width: 100px;
  height: 16px;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}
 
.user-role {
  width: 37px;
  height: 14px;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #FFFFFFBD;
 
 
}
 
.avatar-name {
  width: 130px;
  height: 32px;
  gap: 6px;
  display: flex;
  flex-direction: row;
 
}
 
.avatar-image {
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background: #C81A78;
}
 
.overlay-whole {
  display: flex;
  width: 226px;
  padding: 9px 8px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 11px 15px 0px rgba(179, 171, 186, 0.2), 0px 9px 46px 0px rgba(179, 171, 186, 0.12), 0px 24px 38px 0px rgba(179, 171, 186, 0.14);
  margin-top: 11px;
}
 
.overlay-content1 {
  display: flex;
  padding: 0px 8px 8px 8px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  width: 234px;
  height: 56px;
  border-bottom: 1px solid #B3ABBA33;
}
 
.overlay-user-info {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
}
 
.overlay-user-name {
  color: var(--On-Surface-High-Emphasis, rgba(0, 0, 0, 0.87));
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}
 
.overlay-user-role {
  overflow: hidden;
  color: var(--On-Surface-Disabled, rgba(0, 0, 0, 0.38));
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
 
.overlay-content2 {
  width: 234px;
  height: 40px;
  padding: 12px, 8px, 12px, 8px;
  border-radius: 4px;
  display: flex;
  padding: 12px 8px;
  align-items: center;
  align-self: stretch;
}
 
.overlay-content3 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  align-self: stretch;
  width: 234px;
  height: 40px;
  padding: 12px, 8px, 12px, 8px;
  border-radius: 4px;
}
 
.text2 {
  width: 218px;
  height: 16px;
  gap: 10px;
  color: var(--On-Surface-Medium-Emphasis, rgba(0, 0, 0, 0.60));
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}
 
.text3 {
  width: 218px;
  height: 16px;
  gap: 10px;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--On-Surface-Medium-Emphasis, rgba(0, 0, 0, 0.60));
  font-style: normal;
}
 
.overlay-content4 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  align-self: stretch;
  width: 234px;
  height: 40px;
  padding: 12px, 8px, 12px, 8px;
  border-radius: 4px;
}
 
.text4 {
  width: 218px;
  height: 16px;
  gap: 10px;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--On-Surface-Medium-Emphasis, rgba(0, 0, 0, 0.60));
  font-style: normal;
}
 
.overlay-content5 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  align-self: stretch;
  width: 234px;
  height: 40px;
  padding: 12px, 8px, 12px, 8px;
  border-radius: 4px;
  border-top: 1px solid #B3ABBA33;
}
 
.text5 {
  width: 218px;
  height: 16px;
  gap: 10px;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--03-Red-500, #EA172B);
  font-style: normal;
  line-height: normal;
}
 
// notification overlay
.notification-content {
  display: flex;
  justify-content: center;
  width: 380px;
  // padding: 9px 8px;
  // flex-direction: column;
  // align-items: flex-start;
  border-radius: 0px;
  // background: #FFF;
  background: #fafafa;
  // box-shadow: 1px 1px 1px 1px gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // box-shadow: 0px 11px 15px 0px rgba(179, 171, 186, 0.2), 0px 9px 46px 0px rgba(179, 171, 186, 0.12), 0px 24px 38px 0px rgba(179, 171, 186, 0.14);
  margin-top: 11px;
  // margin-right: 200px;
  // height: 500px;
  height: auto;
  min-height: min-content;
  max-height: 500px;
  ::ng-deep {
    .p-datatable .p-datatable-tbody > tr {
      background: none;
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
 
.notification-header {
  // width: 300px;
  font-weight: 500;
  font-size: 16px;
  // line-height: 24px;
  border-bottom: 1px solid #0000001f;
  // border-top: 1px solid #0000001f;
  padding: 12px;
  // border: 1px solid transparent;
  z-index: 900;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
// .notification-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
 
 
.notification-list {
  max-height: calc(552px);
  overflow-x: auto;
}
 
.notification-item-container {
  border-bottom: 1px solid #B3ABBA33;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  align-items: flex-start;
}
 
.notification-item-container i {
  cursor: pointer;
  font-size: 10px;
}
 
@media screen and (max-width:759px) {
  .top-menu {
    background-color: #000;
    height: 200px;
    /*width: 100% */
  }
 
}
 
.notification-content {
  display: flex;
}


// .no-noti{
//   font-family: Arial, sans-serif; 
//   font-size: 18px; 
//   color: #555; 
//   text-align: center;
//   margin-top: 50px;
//   }

// .no-noti {
//   display: flex;
//   // font-family: Arial, sans-serif; 
//   justify-content: center;
//   align-items: center;
//   height: 100px;
//   // font-size: 18px;
//   // font-weight: 500;
//   font-size: 16px;
//   // background: linear-gradient(to right, #ff7e5f, #feb47b);
//   // color: black;
//   // font-size: 20px;
//   // font-weight: bold;
//   color: #652d90;
//   font-family: "Poppins", sans-serif;
// }
.no-noti {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  // background: linear-gradient(91.47deg, #652d90 14.44%, #d61360 158.5%);
  background: #000;
  color: transparent; 
  font-size: 16px;
  // font-weight: bold;
  -webkit-background-clip: text; 
  background-clip: text;
  font-family: "Poppins", sans-serif;

}
 
.clearAll{
background-color: transparent;
border: none;
color:  #652d90;
cursor: pointer;
}

.clearAll:disabled {
  opacity: 0.5;
  cursor: not-allowed; 
  // cursor:auto
}
.notification-content-header{
  font-weight: 500;
  font-size: 12px;
  color: #652D90;
  display: flex;
  flex-direction: row;
  width: 360px;
  gap:290px;
}

.notification-content-body{
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 340px;
}

.notification-dot{
    position: absolute;
    top: 6px; 
    right: 6px; 
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
  

  .pi-bell.pi-bell-active::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
  }
