
    <!-- <p-card>
        <ng-template pTemplate="header" >
            <p class="header">Enable Multi-factor Authentication</p>
        </ng-template>
        <ng-template pTemplate="body">
            <div>
            <p>You can use any authenticator app that supports Time-based One Time Password(TOTP)
                such as google authenticator. You can either scan the QR code or copy paste your 
                secret code manullay.
            </p>
            <div class="QR-design">
                <img src="" alt="Your QRcode">
                <p>AJDSVBASJDAFBV</p>
            </div>
        </div>
        <div class="confirmation-field">
            <p>Enter your current password and the code from your authentication app to enable MFA.</p>
            <div>
            </div>
        </div>
        </ng-template>
    </p-card> -->
<!-- Aishuu -->

<div class="card flex justify-content-centre">
    <div class="newSchedule-Dialog">
      <p-dialog
        header="Setup Two Factor Authentication"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '35VW' }"
        [draggable]="false"
        [resizable]="false"
        [closable]="false"
      >
      <p>Add the following to your authenticator app of choice, and verify it below to enable</p>
      <div z>
      <img  src={{imageSource}} class="qr-code" alt="Your QRcode">
    </div>
    <div>
      <p> {{secretKey}}</p>
    </div>
    <div class="auth-code-input">
        <input type="text" [(ngModel)]="token" placeholder="Enter Authentication Code" >
      </div>
      <ng-template pTemplate="footer" class="Newschedule-button">
        <div class="Verifybutton">
          <p-button label="Verify and Enable" (onClick)="verifyNow()">
          </p-button>
        </div>
        <div class="Cancelbutton">
          <p-button label="Cancel" (onClick)="cancelButton()">
          </p-button>
        </div>
      </ng-template>
      </p-dialog>
    </div>
  </div>
