<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div class="card flex justify-content-centre">
  <div class="newSchedule-Dialog"(keydown.enter)="onEnterKey()">
    <p-dialog
      [(visible)]="twofactvisible"
      [modal]="true"
      [style]="{ width: '35VW' }"
      [draggable]="false"
      [resizable]="false"
      [closable]="false"
    >
      <ng-template pTemplate="header">
        <div
          class="authHeader inline-flex align-items-center justify-content-center gap-2"
        >
          <p class="authHeader">Setup Two Factor Authentication</p>
        </div>
      </ng-template>
      <p>
        Scan the QR code below or Manually enter the secret key into your
        authenticator app of choice
      </p>
      <div class="qr-code-container">
        <img  src={{imageSource}} class="qr-code" alt="Your QRcode">
        <div class="secretCode">
          <p>
            Secret Key: <span class="secret-code-text">{{ secretKey }}</span>
          </p>
          <div class="icon-container">
            <div *ngIf="!showTick" class="copy-icon" (click)="copyToClipboard(secretKey)">
              <i class="fas fa-copy"></i>
            </div>
            <div *ngIf="showTick" class="tick-icon">
              <i class="fas fa-check"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="auth-code-input">
        <input
          [(ngModel)]="token"
          placeholder="Enter Authentication Code"
          maxlength="6"
          pattern="[0-9]*"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')"
          (input)="showErrorMessage = false"
        />
        <div *ngIf="showErrorMessage" class="error-msg">
          Authentication code is wrong 
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="twoFactorButtons">

          <div class="verifyButton">
            <p-button label="Verify and Enable" (onClick)="verifyNow()">
            </p-button>
          </div>
          <div class="cancelButton">
            <p-button label="Cancel" (onClick)="cancelButton()"> </p-button>
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>
