
    <p-card>
        <ng-template pTemplate="header" >
            <p class="header">Enable Multi-factor Authentication</p>
        </ng-template>
        <ng-template pTemplate="body">
            <div>
            <p>You can use any authenticator app that supports Time-based One Time Password(TOTP)
                such as google authenticator. You can either scan the QR code or copy paste your 
                secret code manullay.
            </p>
            <div class="QR-design">
                <img src="" alt="Your QRcode">
                <p>AJDSVBASJDAFBV</p>
            </div>
        </div>
        <div class="confirmation-field">
            <p>Enter your current password and the code from your authentication app to enable MFA.</p>
            <div>
                
            </div>
        </div>
        </ng-template>
    </p-card>
