
.filter-components{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}
::ng-deep .p-chip-text{
    // background: red;
    font-size: 10px;
    font-weight: bold;
   }
   .Shortlisted {
    color: white;
    background-color:green;
    
  text-align: center;
  }
  
  .Rejected {
  
    background-color: red;
    color: white;
    
   text-align: center;
  }
  
  .Awaiting{
  color:white;
  background-color: blue;
  text-align: center;
  }
  
  .Cancelled{
    color:white;
    background-color:pink;
  
  text-align: center;
  }
  
  .Scheduled{
    color:white;
    background-color:grey;
    text-align: center;
  }
  
    ::ng-deep .p-breadcrumb{
      border:none;
    }
  
  
  ::ng-deep .p-paginator{
    display:flex;
    justify-content: flex-end;
  }
  .whole-design{  
    width:  (1,190px);
  height: Hug (541px);
  padding: 16px;
  gap: 16px
  }