<div class="h-full pt-5 px-3">
  <div class="custom-card">
    <div class="card-content">
      <div>
        <span class="card-title">Hi {{ candidateName }}!</span>
      </div>
      <div class="card-content">
        <p class="textdata">
          Please click on the filename to attempt the test. Good luck!
        </p>
      </div>
    </div>
  </div>

  <!-- [columns]="cols" -->
  <!-- Table content -->
  <div class="table-container tab">
    <p-table
      class="custom_table"
      [value]="candidateList"
      [scrollable]="true"
      scrollHeight="calc(79vh - 10px)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>File Name</th>

          <th>Status</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr class="table-row">
          <td style="width: 20rem">
            <a class="filename-link" (click)="sendQuestions(rowData)">{{
              rowData.email_Filename
            }}</a>
          </td>

          <td style="width: 20rem">{{ rowData.email_Status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
