.textdata {
  font-family: Pop-semibold;
  font-size: 1.2rem;
  line-height: 2.0rem;
}

.card-title {
  font-family: Pop-semibold;
  font-size: 1.6rem;
  line-height: 1.4rem;
}

.custom-card {
  display: flex;
  flex-direction: column; /* Change to column layout */
  justify-content: flex-start; /* Align content to the top */
  padding: 20px; /* Adjust padding as needed */
  background-color: #9DB2BF;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(255, 255, 255, 1);
  margin: 40px 20px auto 20px;
  position: relative; /* Add this to position the back button relative to the card */
}

.back-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  position: absolute; /* Position the back button absolutely within the card */
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
}

/* Add your other styling as needed */
