@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");


.Newschedule-button {
  margin-top: 10px;
  display: inline-flex;
  /* flex-direction: row; */
  /* width: 78px; */
  /* height: 36px; */
  /* padding-top: 18px; */
  /* padding-right: 6px; */
  /* padding-bottom: 6px; */
  /* padding-left: 8px; */
  border-radius: 4px;
  border: 1px;
  /* margin-left: 383px; */
  justify-content: flex-end;
  // justify-content: flex-end;
  .Cancelbutton {
    // width: 64px;
    // height: 24px;
    // padding: 4px, 8px, 4px, 6px;
    // gap: 10px;
    ::ng-deep {
      .p-button {
        height: 40px;
        background: transparent;
        border: 1px solid #652d90;
        outline: none;
        margin-right: 14px;
      }
      .p-button:focus {
        box-shadow: none;
      }
    }
    // background: transparent;
    .cancel-word {
      width: 50px;
      height: 16px;
      //styleName: Button;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-align: left;
      color: #652d90;
      cursor: pointer;
    }
  }

  .Createbutton{
  

::ng-deep{
  .Create-word{
    cursor: pointer;
  }
  .p-button {
    background: transparent;
    border: 1px solid #652d90;
    outline: none;
    margin-right: 14px;
    // height: 40px;
  }
  .p-button:focus {
    box-shadow: none;
  }
  .p-ripple {
  
    overflow: hidden;
    position: relative;
    background:#652d90;
    height: 40px;
    text-align: center;
  }

}



  }
}
.new-schedule-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ::ng-deep {
    .p-tabview .p-tabview-panels {
      background: #ffffff;
      padding: 0rem 0rem 0rem 1.25rem;
  }
  .p-datatable .p-datatable-thead > tr > th {
    background: #ffffff;
    padding: 1rem 0rem;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.85rem 1rem 0.85rem 0rem;
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #652D90;
    background: #652D86;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #00000061;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #652D86;
    background: #652D86;
    color: #ffffff;
  }
  }
}

.new-schedule-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}
.new-schedule-header-1 {
  display: flex;
  flex-direction: column;

  .title {
    p {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      padding: 16px 0px 5px 16px;
    }
  }
}
.BreadCrumb {
  ::ng-deep {
    .p-breadcrumb {
      overflow-x: auto;
      background: transparent;
      padding: 5px 0px 5px 16px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
      color: #1e22aa;
    }
    .p-icon {
      display: inline-block;
      height: 13px;
      width: 8px;
      color: #00000061;
    }
  }
}
.headerSearch{
  width: 60%;
}
.new-schedule-header-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 5px 16px;

  ::ng-deep .p-button .p-button-label {
    transition-duration: 0.2s;
    font-size: 14px;
    font-weight: 500;
  }

  .cancelBtn {
    padding-right: 2rem;
    ::ng-deep {
      .p-button {
        color: #652d90;
        background: #fafafa;
        border: 1px solid #652d90;
      }
      .p-button:focus {
        box-shadow: none;
      }
    }
  }
  .saveBtn {
    ::ng-deep {
      .p-button {
        color: #fafafa;
        background: #652d90;
        border: none;
        height: 45.6px;
      }

      .p-button:focus {
        box-shadow: none;
      }
      .p-button .p-button-label {
        padding-left: 8px;
      }
    }
  }
}

.edit-schedule {
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: 1px solid #0000001f;
  border-radius: 8px;
  margin: 0px 16px 16px 16px;
  justify-content: space-between;

  .edit-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      color: #00000061;
      font-weight: 400;
      padding-bottom: 1rem;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 430;
      color: #000000de;
      font-size: 16px;
    }

    .edit-name {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
    }
    .edit-manager {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
    }
    .edit-cutoff {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
    }
    .edit-duration {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  .edit-end {
    align-items: end;
  }
}

  .tabview-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  border: 1px solid #0000001f;
  border-radius: 8px;
  margin: 0px 16px 16px 16px;

    ::ng-deep {
      .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        border-color: #652d90;
        color: #652d90;
      }
      .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
      }
      .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none;
      }
    }
    .tabview {
      width: 100%;
    }

    .questioncount {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      transform: translateX(610%);

      label {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #00000061;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #652d90;
      }
    }
  }



.searchicon{
  .p-inputtext {
    width: 200%;
   font-size: 14px;
    padding: 8px 12px 8px 40px;
    
}
.p-input-icon-left > .p-icon-wrapper.p-icon, .p-input-icon-left > i:first-of-type {
  left: 21.75rem!important;
}
  
  .p-inputtext:enabled:focus {
    box-shadow: none;
    border: 1px solid #00000061;
}
.p-inputtext:enabled:hover {
  border-color:  #00000061;
}

}
.questiontext{
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
color: #000000DE;
text-align: left;
overflow: hidden;
text-overflow: ellipsis;

}
.optiontext{
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
color: #00000061;
text-align: left;

}

.newscheduleTable {
  
  .schedulebuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38px;


    .selectallBtn {
      font-family: "Roboto", sans-serif;
      ::ng-deep {
        .p-button {
          color: #652d90;
          background: #fafafa;
          height: 36px;
          border: 1px solid #652d90;
        }

        .p-button:focus {
          box-shadow: none;
        }
      }
    }
    .unselectallBtn {
      ::ng-deep {
        .p-button {
          color: #652d90;
          background: #fafafa;
          height: 36px;
          border: 1px solid #652d90;
        }

        .p-button:focus {
          box-shadow: none;
        }
      }
    }
    .PreviewBtn{
    
      ::ng-deep {
        .p-button {
          color: #fafafa;
          background: #652d90;
          height: 36px;

          border: 1px solid #652d90;
        }
        .pi {
          font-size: 100%;
      }

        .p-button:focus {
          box-shadow: none;
        }
      }
    }
  }
  .editviewicons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  
}

.labelvalue {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-weight: 400;
  color: #00000099;
 
  .label {
    padding: 2% 0 2% 0;
 
    span{
      color: #EE4555;
    }
  }
}
.cuttoffDuration {
  display: flex;
  flex-direction: row;
 
  ::ng-deep .p-inputtext {
    width: 150%;
  }
 
  .labelvalue {
    display: flex;
    flex-direction: column;
    padding-right:17.3%;
 
    .label {
      padding: 6% 0 6% 0;
    }
  }
}
.newSchedule-Dialog {
  ::ng-deep {
 
    .p-dialog .p-dialog-header .p-dialog-title {
      font-family: 'Poppins';
      font-weight: 500;
      color: #1E22AA;
  }
    .p-dialog .p-dialog-header {
      padding: 1rem;
      border-bottom: 1px solid #0000001f;
    }
    .p-dialog .p-dialog-content {
      padding: 0 1.5rem 2rem 1rem;
      border-bottom: 2px solid #0000001F;
  }
    .p-inputtext {
      width: 100%;
    }
    .p-dropdown {
      width: 100%;
    }
    .p-multiselect {
      width: 100%;
    }
    .p-dialog .p-dialog-footer {
      padding: 12px;
    }
  }
  .labelvalue {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 400;
    color: #00000099;
 
    .label {
      padding: 2% 0 2% 0;
 
      span{
        color: #EE4555;
      }
    }
  }
  .cuttoffDuration {
    display: flex;
    flex-direction: row;
 
    ::ng-deep .p-inputtext {
      width: 150%;
    }
 
    .labelvalue {
      display: flex;
      flex-direction: column;
      padding-right:17.3%;
 
      .label {
        padding: 6% 0 6% 0;
      }
    }
  }
}
.Newschedule-button {
  margin-top: 10px;
  display: inline-flex;
 
  border-radius: 4px;
  border: 1px;
  justify-content: flex-end;
  // justify-content: flex-end;
  .Cancelbutton {
    ::ng-deep {
      .p-button {
        height: 87%;
        background: transparent;
        border: 1px solid #652d90;
        outline: none;
        color: #652d90;
      }
      .p-button:focus {
        box-shadow: none;
      }
    }
   
  }
 
  .Createbutton {
    ::ng-deep {
      .Create-word {
        cursor: pointer;
      }
      .p-button {
        height: 87%;
        background: transparent;
        border: 1px solid #652d90;
        outline: none;
      }
      .p-button:focus {
        box-shadow: none;
      }
      .p-ripple {
        overflow: hidden;
        position: relative;
        background: #652d90;
        text-align: center;
      }
    }
  }
}

.questionPreviewcard{
}
 
.questionpreviewtext{
 
  font-family: "Poppins", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.15000000596046448px;
text-align: left;
color: #1E22AA;
}
 
.questionpreviewcardbody{
  display: flex;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
}
 
.questionhead{
align-self: stretch;
color: var(--01-Primary-500, #652D90);
font-family: "Roboto", sans-serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.00938rem;
}
 
.questionoptions{
  display: flex;
align-items: center;
gap: 0.5rem;
align-self: stretch;
}
 
.Closebutton{
  ::ng-deep {
    .p-button {
      height: 40px;
      background: white;
      color: #652d90;
      // border: 1px solid #3d105f;
      outline: none;
      margin-right: 14px;
      border: 1px solid #652D90
    }
    .p-button:focus {
      box-shadow: none;
    }
  }
 
  label {
    width: 50px;
    height: 16px;
      font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: left;
    // color: #652d90;
    cursor: pointer;
  }
}
