<p>pcr-manage works!</p>
<div class="managePCR">
    <div class="managePCR-header">
        <div class="managerPCR-header-1">
            <div class="title">
                <p>
                    PCR
                </p>
                <div class="header-breadcrumb">
                    <p-breadcrumb
                    class="BreadCrumb"
                    [model]="items"
                    [style]="{border:'none'}"
                    ></p-breadcrumb>
                
                </div>
            </div>
        </div>
    </div>
</div>