<div class="signup-container box">
<form (ngSubmit)="signup()">
    <p-card>
  
      <img src="../assets\mphasis-logo.png" alt="Logo" width="100" />
  
   
  
      <div class="p-inputgroup">
  
        <span class="p-inputgroup-addon">
  
          <i class="pi pi-user"></i>
  
        </span>
  
   
  
        <input type="text" pInputText placeholder="Name" [(ngModel)]="Managername" name="Managername"/>
  
      </div>
  
   
  
      <div class="p-inputgroup">
  
        <span class="p-inputgroup-addon">
  
          <i class="pi pi-envelope"></i>
  
        </span>
  
   
  
        <input type="text" pInputText placeholder="Email" [(ngModel)]="emailId" name="emailId"/>
  
      </div>
  
   
  
      <div class="p-inputgroup">
  
        <span class="p-inputgroup-addon">
  
          <i class="pi pi-phone"></i>
  
        </span>
  
   
  
        <p-inputNumber
  
               
  
                mode="decimal"
  
                [ngModelOptions]="{ standalone: true }"
  
                placeholder="Phone"
  
                inputId="withoutgrouping"
  
                [useGrouping]="false"
                [(ngModel)]="phoneNumber"
  
              >
  
              </p-inputNumber>
  
        <!-- <input type="number" pInputText placeholder="Phone " /> -->
  
      </div>
  
   
  
      <div class="p-inputgroup">
  
        <span class="p-inputgroup-addon">
  
          <i class="pi pi-lock"></i>
  
        </span>
  
   
  
        <input type="password" pInputText placeholder="Password" [(ngModel)]="password" name="password"/>
  
      </div>
  
   
  
      <div class="p-inputgroup">
  
        <span class="p-inputgroup-addon">
  
          <i class="pi pi-lock"></i>
  
        </span>
  
   
  
        <input type="password" pInputText placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword"/>
  
      </div>
  
   
      
      <p-toast></p-toast>
      <button
  
        pButton
  
        type="submit" 
  
        label="Save"
  
        class="p-button-primary"

        [disabled]="!emailId||!Managername||!phoneNumber||!password||!confirmPassword"

     
  
      ></button>
  
  
     
  
   
  
      <div class="signup">Already have an account? <a href="#">Sign In</a></div>
  
    </p-card>
  </form>

  
  </div>