
.scheduleChip{
  .p-chip .p-chip-text {
    line-height: 1.2;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .p-chip-text {
    line-height: 1.2;
  }

}




span.p-badge.p-component.p-badge-no-gutter.ng-star-inserted {



  // color: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
// linear-gradient(0deg, #FFFFFF, #FFFFFF);
   color: #898686;
    font-size: 0.75rem;
    font-weight: 700;
    min-width: 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: transparent;
    

}



.p-paginator-bottom.p-paginator.p-component.ng-star-inserted {

  justify-content: flex-end;
  background: white;
}

.p-datatable .p-paginator-bottom {
 
  border-radius: 0;
}
.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0.85em 1rem;
  
}
.p-paginator {
  background: transparent;
  color: #6c757d;
  border: solid #e9ecef;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  justify-content: flex-end;
  
}
.p-datatable-wrapper {
  border-radius: inherit;
}


.login-card {
  
  .p-card .p-card-body {
    width: 400px;
    height: 449px;
    gap: 24px;
    padding: 0px;
  }
  .p-inputtext{
    color: #aaa;
  }
  .p-card .p-card-content{
    box-shadow: 0px 0px 30px rgba(179, 171, 186, 0.2)!important;
  }
}
.loginButton {
  .p-button.p-button:enabled:hover {
    background: #652d90;
    color: #ffffff;
    border-color: #652d90;
  }
}
.candidateTable{
  .p-datatable .p-datatable-tbody .tr .td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 8px 16px 8px 16px;
}
}



.login-card {
.p-card .p-card-body {
  width: 400px;
  height: 449px;
  gap: 24px;
  padding: 0px;
}
.p-inputtext{
  color: #aaa;
}
}
.loginButton {
.p-button.p-button:enabled:hover {
  background: #652d90;
  color: #ffffff;
  border-color: #652d90;
}
}