

  
  
  .newSchedule-Dialog {
    .p-dialog .p-dialog-header .p-dialog-title {
      font-weight: 700;
      font-size: 1.25rem;
      width: 144px;
      color: #1E22AA;
      font-family: 'Poppins';
      height: 30px;
      size: 20px;
      letter-spacing: 0.15px;
  }
    .p-dialog 
    {
      color: red;
      .p-dialog-header {
        border-bottom: 0.5px solid #e0e3e7;
        background: #ffffff;
        color: #343a40;
        padding: 0.75rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .p-dialog-footer{
      border-top: 1px solid #e0e3e7;
      padding-bottom: 0.35rem;
    }
    }
    position: relative;
    .line{
      margin-right: -20px;
      margin-left: -20px;
      margin-bottom: 6px;
      color: red;
    }
   
    .NewSchedule-content{
      // border-bottom: 0.5px solid #e0e3e7;
      // .p-dialog-footer{
        .p-dialog .p-dialog-footer {
          
        }
      // }
      .ScheduleName{
        // width: 120px;
        // height: 17px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        color:#838383;

      }
      .Manager{
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        color: #838383;
        outline: transparent;
        // background: ;
        .Manager:focus{
          outline: none;
        }

      }
      .Skills{
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        color:#838383;
      }
      .cutoffduration{
        .cutoff{
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.4000000059604645px;
          text-align: left;
          color:#838383;
        }
        .duartion{ 
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.4000000059604645px;
          text-align: left;
          color: #838383;
  
        }
      }
      
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 16px;
     }

  }

.schedule-Input{
   .p-inputtext {
     margin: 0;
     width: 588px;
     height: 40px;
     border-radius: 4px;
     margin: 6px 0px 0px 0px;
 
 }
 .p-dropdown{
  margin: 0;
  width: 588px;
  height: 40px;
  border-radius: 4px;
  margin: 6px 0px 0px 0px;

 }
 .p-multiselect{
  margin: 0;
  width: 588px;
  height: 40px;
  border-radius: 4px;
  margin: 6px 0px 0px 0px;
  
 }
 
 }
.scheduleChip{
  .p-chip .p-chip-text {
    line-height: 1.2;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .p-chip-text {
    line-height: 1.2;
  }

}




span.p-badge.p-component.p-badge-no-gutter.ng-star-inserted {



  // color: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
// linear-gradient(0deg, #FFFFFF, #FFFFFF);
   color: #898686;
    font-size: 0.75rem;
    font-weight: 700;
    min-width: 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: transparent;
    

}



.p-paginator-bottom.p-paginator.p-component.ng-star-inserted {

  justify-content: flex-end;
  background: white;
}

.p-datatable .p-paginator-bottom {
 
  border-radius: 0;
}
.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0.85em 1rem;
  
}
.p-paginator {
  background: transparent;
  color: #6c757d;
  border: solid #e9ecef;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  justify-content: flex-end;
  
}
.p-datatable-wrapper {
  border-radius: inherit;
}


.login-card {
  
  .p-card .p-card-body {
    width: 400px;
    height: 449px;
    gap: 24px;
    padding: 0px;
  }
  .p-inputtext{
    color: #aaa;
  }
  .p-card .p-card-content{
    box-shadow: 0px 0px 30px rgba(179, 171, 186, 0.2)!important;
  }
}
.loginButton {
  .p-button.p-button:enabled:hover {
    background: #652d90;
    color: #ffffff;
    border-color: #652d90;
  }
}
.candidateTable{
  .p-datatable .p-datatable-tbody .tr .td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 8px 16px 8px 16px;
}
}



.login-card {
.p-card .p-card-body {
  width: 400px;
  height: 449px;
  gap: 24px;
  padding: 0px;
}
.p-inputtext{
  color: #aaa;
}
}
.loginButton {
.p-button.p-button:enabled:hover {
  background: #652d90;
  color: #ffffff;
  border-color: #652d90;
}
}