.p-multiselect, .p-dropdown {
  width: 100%;
  height: 35px;
  // padding: 5px 10px;
}

.p-multiselect .p-multiselect-label {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
}

.p-checkbox-box {
  border: 1px solid #ced4da !important;

  width: 16px !important;

  height: 16px !important;

  border-radius: 4px !important;
}

.table_dropdown {
  .p-dropdown {
    height: 35px;
    
    .p-dropdown-label {
      padding: 8px 10px;
      font-size: 0.75rem;
    }
  }
}

.p-datatable .p-datatable-tbody > tr {
  background: #dde6ed;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 1rem;

  background: #9db2bf;

  font-size: 14px;

  font-weight: 500;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 1rem;

  font-size: 14px;

  border-color: #f5f4f4;
}

.custom_select {
  .p-multiselect {
    .p-multiselect-label {
      padding: 0.5rem 0.75rem;
    }
  }
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  margin-right: 4px;

  .p-multiselect-token-label {
    font-size: 12px;
  }
}

.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
  padding: 0.275rem 0.75rem;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: #fff;
}

.p-tooltip .p-tooltip-text {
  background: #fff;

  color: #000;

  padding: 0.25rem 0.75rem;
}

.custom_table {
  .p-datatable {
    .p-datatable-tbody {
      tr {
        td {
          a.disabled {
            svg {
              fill: #b1b1b1;
            }
          }
        }
      }
    }
  }
}

.custom_overlay {
  width: 20rem;
  &::before, &::after {
    margin-left: 20px !important;
  }
}

.p-datatable .p-sortable-column.p-highlight,
.p-datatable .p-sortable-column:not(.p-highlight):hover,
.p-datatable .p-sortable-column.p-highlight:hover {
  background: #9db2bf;
  color: #343a40;
  outline: none;
  box-shadow: none;
}

.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: #343a40;
}
