<div class="questionsidebar">
    <p-sidebar position="right" [(visible)]="showSidebar" [modal]="true" (onHide)="closeButton()">
      <ng-template class="header_design" pTemplate="header"
        >Questions Preview
      </ng-template>
      <ng-template pTemplate="content">
        <span *ngFor="let question of totalQuestions; let j = index">
          <div class="question-design">{{ j + 1 }}. {{ question.question }}</div>
   
          <div class="select-size">
            <div
              *ngFor="let option of question.options; let i = index"
              class="option"
              [ngClass]="getSelectedOptions(question, option)"
            >
              <!-- <input type="radio" name="first" id="small" />
              <label class="box-design" for="small">A</label>
              <span class="option-content">{{ preview.options[0] }}</span> -->
              <input
                type="radio"
                [name]="'option_' + i"
                [id]="'option_' + i"
                [checked]="option === question.answer"
              />
              <label class="box-design" [for]="'option' + question + '-' + i">{{
                getLabel(i)
              }}</label>
   
              <span class="option-content">{{ option }}</span>
            </div>
          </div>
        </span>
   
        <div class="btnfooter">
          <div class="quiz-instruction">
            <p class="instruction">Quiz Instructions</p>
            <ul class="points">
              <li>Manager approval mandatory</li>
              <li>
                Automatic email will be triggered for every status change of the
                request
              </li>
              <li>Approval is the permission to go to Office</li>
            </ul>
          </div>
          <div class="sidebarbuttons">
            <div class="custom_button_send">
              <p-button label="Close" (onClick)="closeButton()"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-sidebar>
  </div>