.page_sec {
    background-color: #003268;
    color: white;
    padding: auto;
    width: 100%;
    height: fit-content;

}

.heading {
    color: white;
}

.question_sec {
    color: white;
    max-height: 450px;
    overflow: hidden auto;

}
.choices {
    margin-bottom: 5px;
}

 .page_submit_btn_sec {
    // background-color: #003268;
     // position: absolute;
    // left: 0;
    // bottom: 0;
     justify-content: end;
 }