.page_sec {
    background-color: #003268;
    color: white;
    padding: auto;
    width: 100%;
    height: 100%;

}

.heading {
    color: white;
}

.question_sec {
    color: white;
    max-height: 450px;
    overflow: hidden auto;

}