<div class="page_sec">
  <ng-container *ngIf="FinalizedQuestions.length > 0" >
    <h2 class="m-0 heading pb-4 pt-4">Assessment-I</h2>

    <div *ngFor="let question of FinalizedQuestions; let i = index" class="question_sec">
      <h3>{{ i + 1 }}. {{ question.question }}</h3>

      <ng-container *ngIf="question.questionType === 'Checkbox'">
        <div *ngFor="let option of question.options">
          <p-checkbox
            [(ngModel)]="option.selected"
            class="mr-2"
            [binary]="true"
            inputId="binary"
          ></p-checkbox>

          {{ option }}
        </div>
      </ng-container>

      <ng-container *ngIf="question.questionType === 'Radio'">
        <div *ngFor="let option of question.options">
          <p-radioButton
            [(ngModel)]="question.selectedOption"
            [value]="option"
            class="mr-2"
          ></p-radioButton>

          {{ option }}
        </div>
      </ng-container>

      <ng-container *ngIf="question.questionType === 'Text'">
        <span class="p-float-label">
          <textarea
            id="float-input"
            rows="3"
            cols="50"
            [(ngModel)]="question.answer"
            pInputTextarea
          ></textarea>
          <label for="float-input">Type Here...</label>
        </span>
      </ng-container>
    </div>
    <div class="w-100  flex page_submit_btn_sec px-3 py-2">

        <p-button
          label="Back"
          class="w-100"
          styleClass="p-button-danger"
        ></p-button>

    </div>
    
  </ng-container>
   
</div>
