@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.manageManagers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5%;

  ::ng-deep {
    .p-datatable .p-sortable-column .p-sortable-column-icon {
      color: #1666dc;
    }
    .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
      color: #1666dc;
    }
    .p-datatable .p-datatable-tbody > tr > td {
      font-family: "Roboto";
      color: #000000de;
      font-size: 14px;
      font-weight: 400;
    }
    .p-datatable .p-datatable-thead > tr > th {
      background: white;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      border-color: #652d90;
      color: #652d90;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
   box-shadow: none;
}
  }

  .managerDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #0000001f;
    border-radius: 8px;
    padding: 1%;

    .name {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 20px;
      color: #652d90;
      padding-bottom: 1%;
    }
    .department {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 14px;
      color: #00000099;
      padding-bottom: 1%;
    }
    .mailid {
      display: flex;
      flex-direction: row;
      gap: 1%;
      color: #00000061;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 1%;
    }
    .phone {
      display: flex;
      flex-direction: row;
      gap: 1%;
      color: #00000061;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 1%;
    }
  }
}

.manageManagers-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}
.manageManagers-header-1 {
  display: flex;
  flex-direction: column;

  .title {
    p {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      padding: 5% 2% 2% 1%;
    }
  }
}

.BreadCrumb {
  ::ng-deep .p-breadcrumb {
    overflow-x: auto;
    background: transparent;
    padding: 1rem 0rem 1rem 0rem;
  }
  ::ng-deep {
    .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
      color: #1e22aa;
    }
    .p-icon {
      display: inline-block;
      height: 13px;
      width: 8px;
      color: #00000061;
    }
  }
}
.new-schedule-header-2 {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px 16px 5px 16px;
  
  .cancelBtn {
    padding-right: 2rem;
    ::ng-deep {
      .p-button {
        color: #652d90;
        background: #fafafa;
        border: 1px solid #652d90;
      }
      .p-button:focus {
        box-shadow: none;
      }
    }
  }
}

.managerTabview {
  border: 1px solid #0000001f;
  border-radius: 8px;
  margin-top: 2%;

  ::ng-deep {
    .p-tabview .p-tabview-panels {
        overflow-y: auto;
        // max-height: 296px;
        max-height: 418px;

    }
    .p-inputtext {
      width: 100%;
    }
    p-inputnumber,.p-inputnumber.p-inputwrapper {
        span{
            width: 100%;
        }
      display: inline-flex;
      width: 100%;
    }
  }
  .profilecontent{
    padding: 1rem;
  }

  .labelvalue {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-weight: 400;
    color: #00000099;

    .label {
      padding: 2% 0 2% 0;

      span {
        color: #ee4555;
      }
    }
  }

  
}
.Newschedule-button {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: 1px;
    justify-content: space-between;
    // justify-content: flex-end;
    .Cancelbutton {
      ::ng-deep {
        .p-button {
          height: 87%;
          background: transparent;
          border: 1px solid #652d90;
          outline: none;
          color: #652d90;
        }
        .p-button:focus {
          box-shadow: none;
        }
      }
    }
  
    .Createbutton {
      ::ng-deep {
        .Create-word {
          cursor: pointer;
        }
        .p-button {
          height: 87%;
          background: transparent;
          border: 1px solid #652d90;
          outline: none;
        }
        .p-button:focus {
          box-shadow: none;
        }
        .p-ripple {
          overflow: hidden;
          position: relative;
          background: #652d90;
          color: #ffffff;
          text-align: center;
        }
      }
    }
  }


  //schedule design
  ::ng-deep .p-tabview .p-tabview-panels {
    padding: 0;
  }
  .scheduleTable {
    ::ng-deep {
      .p-datatable {
        position: relative;
        border: 1px solid #0000001f;
        border-radius: 8px;
      }
    }
    ::ng-deep .tableheaderdesign{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .filter-components {
        display: flex;
        justify-content: space-between;
      }
      .first-four {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
     
      
      .PreviewBtn {
        ::ng-deep {
          .p-button {
            color: #fafafa;
            background: #652d90;
            height: 36px;
    
            border: 1px solid #652d90;
          }
          .pi {
            font-size: 100%;
          }
    
          .p-button:focus {
            box-shadow: none;
          }
        }
      }
      .serialno {
        width: 6%;
      }
      .schedulenameHeading {
        width: 50%;
      }
      
      .skillsHeading {
        width: 40%;
      }
  }
  .clear-button {
    width: 110px;
    height: 36px;
    padding: 6px, 6px, 6px, 8px;
    border-radius: 4px;
    border: 1px;
    color: #c81a78;
    border: 1px solid #c81a78;
    background: white;
  }

  //Assessment design
  .searchIcon {
    border-radius: 4px;
    border: 1px;
    ::ng-deep {
        i {
    //   margin-top: -7px !important;
    }
    .p-inputtext{
        padding: 5%;
    }
}
    
  }
  .candidate-table{
    .filter-components {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .Shortlisted {
        width: 70px;
        color: white;
        background-color: green;
        text-align: center;
        height: 18px;
        border-radius: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
      }
      
      .Rejected {
        background-color: red;
        color: white;
        text-align: center;
        width: 58px;
        height: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
      }
      
      .Awaiting {
        color: white;
        background-color: blue;
        text-align: center;
        border-radius: 8px;
        width: 84px;
        height: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
      }
      
      .Cancelled {
        color: white;
        background-color: pink;
        height: 18px;
        border-radius: 8px;
        text-align: center;
        width: 64px;
        height: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
      }
      
      .Scheduled {
        color: white;
        background-color: grey;
        text-align: center;
      
        border-radius: 8px;
        width: 68px;
        height: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
      }
      
      .resultDesign {
        width: 84px;
        height: 18px;
        font-size: 12px;
      
        span {
          font-size: 12px;
          margin-top: 2px;
        }
      }
      
      .assessmentName {
        color: #1e22aa !important;
      }
      
  }
  
