@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.candidate-table {
  border: 1px solid #0000001f;
  border-radius: 8px;
  background-color: white;
}
::ng-deep .candidateTable {
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    /* padding: 1rem 1rem; */
    padding: 13.6px 16px 13.6px 7px;
    //styleName: Body 2;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #000000de;
  }
  .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 0.5rem;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #00000061;
    /* background: #f8f9fa; */
    transition: box-shadow 0.2s;
  }
}

//searchIcon
.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
  width: 138px;
  height: 36px;
  padding: 8px;
  border-radius: 4px;
  border: 1px;
  margin-right: 7px;
  gap: 8px;

  border: 1px solid #00000061;
}
.managerMultiselect {
  ::ng-deep {
    .p-multiselect .p-multiselect-trigger {
      width: 1rem;
    }

    .p-fluid .p-multiselect {
      width: 125px;
      height: 36px;
      border-radius: 4px;
      gap: 8px;
      background: #efefef;
    }
    .p-icon {
      width: 14px;
      height: 8px;
    }
    .p-multiselect .p-multiselect-label.p-placeholder {
      margin-top: -6px;
    }
    .p-fluid .p-dropdown {
      display: flex;
      height: 35px;
      width: 125px;
      border-radius: 4px;
      gap: 8px;
      background: #efefef;
    }
    .p-dropdown .p-dropdown-trigger {
      width: 1rem;
    }
    .p-dropdown .p-dropdown-label.p-placeholder {
      margin-top: -6px;
    }
  }
}

.customMultiselect {
  ::ng-deep {
    .p-fluid .p-multiselect {
      background: #efefef;
    }
    .p-fluid .p-dropdown {
      background: #efefef;
    }
  }
}
 .clear-button {
  width: 110px;
  height: 36px;
  padding: 6px, 6px, 6px, 8px;
  border-radius: 4px;
  border: 1px;
  color: #c81a78;
  border: 1px solid #c81a78;
  background: white;
  
}
::ng-deep .p-button .p-button-label {
    transition-duration: 0.2s;
    font-size: 14px;
    font-weight: 500;
}

// ::ng-deep .p-chip {
//   font-family: "Roboto", sans-serif;
//   font-size: 12px;
//   font-weight: 400;
//   line-height: 14px;
//   letter-spacing: 0.25px;
//   text-align: left;
//   background-color: #00000061;
//   color: white;
// }


::ng-deep .p-badge-no-gutter {
  color: #00000099;
}

::ng-deep .p-badge {
  //styleName: Body 2;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #00000099;
  background: transparent;
}

.chipdesign {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.25px;
  text-align: left;
}

// .assessment-header{
//     width: 135px;
// height: 30px

// }
// .assessment-text{
//     //styleName: Title;
// font-family: 'Poppins';
// font-size: 20px;
// font-weight: 500;
// line-height: 30px;
// letter-spacing: 0.15000000596046448px;
// text-align: left;
// color: #000000;

// }
// .mg-class{
//   width: Hug (70px);
// height: Hug (18px);
// padding: 2px, 4px, 2px, 4px;
// border-radius: 4px;
// gap: 8px;
// background: #1CB046;

// }

.Shortlisted {
  width: 70px;
  color: white;
  background-color: green;
  text-align: center;
  height: 18px;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.Rejected {
  background-color: red;
  color: white;
  text-align: center;
  width: 58px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.Awaiting {
  color: white;
  background-color: blue;
  text-align: center;
  border-radius: 8px;
  width: 84px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.Cancelled {
  color: white;
  background-color: pink;
  height: 18px;
  border-radius: 8px;
  text-align: center;
  width: 64px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.Scheduled {
  color: white;
  background-color: grey;
  text-align: center;

  border-radius: 8px;
  width: 68px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.resultDesign {
  width: 84px;
  height: 18px;
  font-size: 12px;

  span {
    font-size: 12px;
    margin-top: 2px;
  }
}

.assessmentName {
  color: #1e22aa !important;
}

::ng-deep .p-breadcrumb {
  border: none;
  background: #fafafa;
}
::ng-deep .p-paginator-bottom.p-paginator.p-component.ng-star-inserted {
  display: flex;
  justify-content: flex-end;
  // height: 52px;
  // width: 1158px;
  // align-items: center;
}
.whole-design {
  width: 100%;
  height:541px;
  padding: 16px 5px 16px 16px;
  ::ng-deep .card {
     
      box-shadow: none;
  }
}

.cursor-design {
  cursor: pointer;
}
// .filter-components{
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
// }
.filter-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clearButton {
  ::ng-deep {
    .p-button.p-button-danger,
    .p-buttonset.p-button-danger > .p-button,
    .p-splitbutton.p-button-danger > .p-button {
      height: 36px;
    }
  }
}

.assesment-header {
  //styleName: Title;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

  color: #000;
}

.breadDate {
  justify-content: space-between;
  flex-direction: row;

  .date {
    text-align: end;
    width: 86px;
    height: 19px;
    color: #00000061;
    font-family: "Avenir", sans-serif;
  }
}
.BreadCrumb {
  ::ng-deep .p-breadcrumb {
    overflow-x: auto;
    background: transparent;
  }
  ::ng-deep {
    .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
      color: #1e22aa;
    }
    .p-icon {
      display: inline-block;
      height: 13px;
      width: 8px;
      color: #00000061;
    }
  }
}
::ng-deep
  .p-breadcrumb
  .p-breadcrumb-list
  li
  .p-menuitem-link
  .p-menuitem-icon {
  color: #6c757d;
  margin-right: 0px;
  margin-left: -14px;
}

.assesment-header {
  //styleName: Title;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

  color: #000;
}

//////////////////////////sidebar design started//////////////
// ::ng-deep .header_design{
//   .p-sidebar{
//   color:violet;
// }
// }

.design {
  width: Fill (705px);
  height: Hug (215px);
  gap: 16px;
}

.wrapper {
  width: 705px;
}

.select-size input {
  display: none;
}
.option {
  display: flex;
  align-items: center;
  color: #00000061;
  margin-bottom: 10px;
}
.option-content {
  margin-left: 10px; /* Adjust the margin as needed */
  font-family: "Roboto";
  font-size: 16px; /* Adjust the font size as needed */
  /* Add other styles as needed */
}

label {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 32px;
  cursor: pointer;
  border-radius: 8px;
  color: #00000061;
}

#small:checked ~ label[for="small"] {
  background: #999;
  color: #ffffff;
}
.designs {
  display: flex;
  flex-direction: column;
}
.question-design {
  // width: 675px;
  
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #652d90;
  margin-bottom: 1rem;
}

.header_design {
  width: 200px;
  height: 30px;
}

::ng-deep .p-sidebar-header {
  color: #1e22aa;
  //styleName: Title;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.design_panel{
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #00000061;

}

 .line_design{
  margin-bottom: 5px;
  //styleName: Body 2;


  
  
 }
.design_for_line{
  margin-bottom: 10px;
}






 .design_panel_last{
  font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.25px;
text-align: left;
color: #00000061;
cursor:pointer;

 }
.custom_button
{
 ::ng-deep .p-button {
  color: #652D90;
  background: #ffffff;
  border: 1px solid #652D90;
  &:hover {
    color: #652D90;
    ; 
  }
  &:focus {
    box-shadow: none;
  }

  
}
}
.custom_button_close
{
 ::ng-deep .p-button {
  color:white;
  background: #652D90;
  border: 1px solid #652D90;
  &:hover {
    color: white;
    ; 
  }
  &:focus {
    box-shadow: none;
  }

  
}
}

.correctAnswer{
  .option-content{
    padding: 6px 8px 6px 8px;
    height: 31px;
    width: 633px;
    background: #F9F5D1;
    border-radius: 6px;
    color:#652D90;
    font-family: "Roboto";
    
  }
  .box-design{
    background:#652D90 ;
    color:white ;
  }
 
}

// .wrongAnswer{
//   background: red;
// }

.btnfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

.cancel{
 background-color: white; 
}
}
// }

.design {
  width: Fill (705px);
  height: Hug (215px);
  gap: 16px;
}

.wrapper {
  width: 705px;
}

.select-size input {
  display: none;
}
.option {
  display: flex;
  align-items: center;
  color: #00000061;
}
.option-content {
  margin-left: 10px; /* Adjust the margin as needed */
  font-family: "Roboto";
  font-size: 16px; /* Adjust the font size as needed */
  /* Add other styles as needed */
}

label {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 32px;
  cursor: pointer;
  border-radius: 8px;
  color: #00000061;
}

#small:checked ~ label[for="small"] {
  background: #999;
  color: #ffffff;
}
.designs {
  display: flex;
  flex-direction: column;
}
.question-design {
  // width: 675px;
  height: 23px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #652d90;
}

.header_design {
  width: 200px;
  height: 30px;
}

::ng-deep .p-sidebar-header {
  color: #1e22aa;
  //styleName: Title;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}
.design_panel{
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #00000061;
 
}
 
 .line_design{
  margin-bottom: 5px;
  //styleName: Body 2;
 
 
 
 
 }
 
 .design_panel_last{
  font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.25px;
text-align: left;
color: #00000061;
cursor:pointer;
 
 }
 
 ::ng-deep {
  .p-button {
    color: #c81a78;
    border: 1px solid #c81a78;
    background: white;
    &:hover {
      color: #c81a78;
    }
    
    &:focus {
      box-shadow: none;
    }
  }
  .p-button:enabled:hover {
    color: #c81a78;
    border: 1px solid #c81a78;
    background: white;
}

 }
//  -------------------------------
.question-design {
  // height: 23px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.150000006px;
  text-align: left;
  color: #652d90;
  padding: 3% 0% 3% 0%;
}
.questionsidebar {
  .question-design {
    // height: 23px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.150000006px;
    text-align: left;
    color: #652d90;
    padding: 3% 0% 3% 0%;
  }
  .select-size input {
    display: none;
  }

  .option {
    display: flex;
    align-items: center;
    color: #00000061;
  }
  .option-content {
    padding: 0.8% 1% 0.8% 1%;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    width: 100%;
  }
  .select-size {
    padding-bottom: 2%;
    border-bottom: 1px solid #0000001f;
  }
  .option {
    font-weight: 450;
    gap: 1%;
    margin-bottom: 1%;
    .box-design {
      border: 1px solid #c1abd3;
      width: 5%;
      border-radius: 4px;
      text-align: center;
      padding: 5px;
    }
    &:hover:not(.correctAnswer) {
      .box-design,
      .option-content {
        background: #c1abd3;
        color: white;
      }
    }
  }
  .correctAnswer {
    .option-content {
      background: #f9f5d1;
      color: #652d90;
    }
    .box-design {
      background: #652d90;
      color: white;
    }
  }

  .btnfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .instruction {
      font-size: 16px;
      font-family: "Poppins";
      font-weight: 400;
      color: #00000099;
      padding: 2% 0% 2% 0%;
    }
    .quiz-instruction {
      padding-bottom: 5%;
      border-bottom: 1px solid #0000001f;
    }
    .points {
      font-family: "Roboto";
      color: #00000099;
      font-weight: 400;
      padding-left: 4%;
      li {
        padding-bottom: 1%;
      }
    }

    .sidebarbuttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 5%;
    }
  }

  ::ng-deep {
    .p-sidebar .p-sidebar-header {
      padding: 1.25rem;
      border: 1px solid #0000001f;
      color: #1e22aa;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 20px;
    }
    .p-sidebar {
      width: 45%;
    }
  }
}

.select-size input {
  display: none;
}
.option {
  display: flex;
  align-items: center;
  color: #00000061;
}
 
.option {
  font-weight: 450;
  gap: 1%;
  margin-bottom: 1%;
  .box-design {
    border: 1px solid #c1abd3;
    width: 5%;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
  }
  &:hover:not(.correctAnswer) {
    .box-design,
    .option-content {
      background: #c1abd3;
      color: white;
    }
  }
}
//---------------
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");

.Skills .options {
  ::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0.375rem 0.75rem;
    background: none;
    color: #1d4ed8;
    border-radius: 16px;
    width: auto;
    height: 25px;
    /* padding: 0px 4px 0px 4px; */
    background: #979ca1;
    color: white;
    border-radius: 11px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
  }
}

.cutoff-duration {
  .p-inputtext {
    width: 290px;
    height: 40px;
    padding: 0px 8px 0px 8px;
    margin: 6px 0px 0px 0px;
  }
  display: flex;
  flex-direction: row;
  width: 588px;
  gap: 10px;
  .cutoff {
    flex-direction: column;
    .p-input {
      // width: 50%;
      width: 290px;
      height: 40px;
      padding: 0px, 8px, 0px, 8px;
      border-radius: 4px;
      border: 1px;
      gap: 10px;
    }
  }
  .duration {
    flex-direction: column;
    .p-input {
      width: 50%;
    }
  }
}
.Newschedule-button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px;
  justify-content: space-between;
  // justify-content: flex-end;
  .Cancelbutton {
    ::ng-deep {
      .p-button {
        height: 87%;
        background: transparent;
        border: 1px solid #652d90;
        outline: none;
        color: #652d90;
      }
      .p-button:focus {
        box-shadow: none;
      }
    }
  }

  .Createbutton {
    ::ng-deep {
      .Create-word {
        cursor: pointer;
      }
      .p-button {
        height: 87%;
        background: transparent;
        border: 1px solid #652d90;
        outline: none;
      }
      .p-button:focus {
        box-shadow: none;
      }
      .p-ripple {
        overflow: hidden;
        position: relative;
        background: #652d90;
        color: #ffffff;
        text-align: center;
      }
    }
  }
}
::ng-deep .newschedule-card {
  width: 620px;
  height: 528px;
  border-radius: 8px;
  background: #ffffff;
}

.full-content {
  width: (1, 190px);
  height: (541px);
  padding: 16px;
  gap: 16px;
  .serialno {
    width: 6%;
  }
  .schedulenameHeading {
    width: 30%;
  }
  .managernameHeading {
    width: 20%;
  }
  .skillsHeading {
    width: 30%;
  }

  ::ng-deep {
    ::ng-deep .p-datatable .p-datatable-thead > tr > th {
      text-align: left;
      padding: 1rem 1rem;
      border: 1px solid #dee2e6;
      border-width: 0 0 1px 0;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #00000061;
      transition: box-shadow 0.2s;
    }
  }
}
::ng-deep .table-content {
  .p-datatable-thead {
    border: 20px solid red;
  }
  .p-datatable {
    padding-top: 40px;
    //border-radius: 10%;
  }

  // border-radius: 200px;
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 8px 16px 8px 16px;
  }
}
::ng-deep .p-column-filter-row {
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin-left: 17px;
}
::ng-deep .p-fluid .p-multiselect {
  display: flex;
  background: #efefef;
}

.filter-components {
  display: flex;
  //flex-direction: row;
  justify-content: space-between;
}
.first-four {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.newSchedule-card {
  // width: 1,158px;
  // height: 436px;
  border-radius: 8px;
  border: 1px;

  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12));
}
::ng-deep .manager {
  display: flex;
  align-items: center;
  // width: 70%;
  // width: 125px;
  height: 36px;
  padding: 12px, 8px, 12px, 8px;
  border-radius: 4px;
  gap: 8px;

  // background: #EFEFEF;
  color: #efefef;
}
::ng-deep .p-calendar .p-inputtext {
  flex: 1 1 auto;
  width: -34%;
  // background: #EFEFEF;
}
.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
  width: 138px;
  height: 36px;
  padding: 8px;
  border-radius: 4px;
  border: 1px;
  margin-right: 7px;
  gap: 8px;

  border: 1px solid #00000061;
}
.assessment-text {
  width: 106px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}
.breadDate {
  justify-content: space-between;
  flex-direction: row;

  .date {
    text-align: end;
    width: 86px;
    height: 19px;
    color: #00000061;
    font-family: "Avenir", sans-serif;
  }
}
.BreadCrumb {
  ::ng-deep .p-breadcrumb {
    overflow-x: auto;
    background: transparent;
  }
  ::ng-deep {
    .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
      color: #1e22aa;
    }
    .p-icon {
      display: inline-block;
      height: 13px;
      width: 8px;
      color: #00000061;
    }
  }
}
::ng-deep
  .p-breadcrumb
  .p-breadcrumb-list
  li
  .p-menuitem-link
  .p-menuitem-icon {
  color: #6c757d;
  margin-right: 0px;
  margin-left: -14px;
}

::ng-deep .p-datatable .p-datatable-thead tr th {
  background: white;
}

// .card {
//   display: flex;
//   flex-direction: column;
//   border-radius: .5rem;
//   background-color: #fff;
//   // margin: 1.25rem 0 1.25rem 0;
//   box-shadow: 0 .25rem .5rem #e6edef;

//   .card-head {
//       padding: 1rem 1.5rem;
//       border-bottom: 1px solid #edf1f7;
//       font-size: 1rem;
//       font-weight: 600;
//   }

//   .card-body {
//       padding: 1rem 1.5rem;
//   }
// }
// ::ng-deep .p-card {
//   width: 1158px;
//   background: #ffffff;
//   color: #495057;
//   box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
//   border-radius: 6px;
//   height: 368px;
// }

.schedules {
  margin-top: 4px;
  margin-left: 30px;
}
.words-in-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  .icon-with-text {
    margin-top: 8px;
  }
}
.searchIcon {
  width: 138px;
  height: 36px;
  border-radius: 4px;
  border: 1px;
  ::ng-deep i {
    margin-top: -7px !important;
  }
}
::ng-deep {
  .p-inputtext:enabled:hover {
    // border-color: #00000061;
  }
  .p-inputtext:enabled:focus {
    box-shadow: none;
    // border-color: #00000061;
  }
}
.managerMultiselect {
  ::ng-deep {
    .p-multiselect .p-multiselect-trigger {
      width: 1rem;
    }
    .p-fluid .p-multiselect {
      width: 125px;
      height: 36px;
      border-radius: 4px;
      gap: 8px;
      border-color: #efefef;
    }
    .p-icon {
      width: 14px;
      height: 8px;
    }
    .p-multiselect .p-multiselect-label.p-placeholder {
      margin-top: -6px;
    }
  }
}
.skillMultiselect {
  ::ng-deep {
    .p-multiselect .p-multiselect-trigger {
      width: 1rem;
    }
    .p-fluid .p-multiselect {
      width: 125px;
      height: 36px;
      border-radius: 4px;
      gap: 8px;
      border-color: #efefef;
    }
    .p-icon {
      width: 14px;
      height: 8px;
    }
    .p-multiselect .p-multiselect-label.p-placeholder {
      margin-top: -6px;
    }
  }
}

::ng-deep .p-input-icon-right > .p-icon-wrapper,
.p-input-icon-right > i:last-of-type {
  margin-top: -2px;
}
.words-in-secondrow {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.jobDescription {
  color: #1e22aa;
  font-family: sans-serif;
}
// .icon-with-text
// {
//   display: flex;
//   align-items: center;

// }
::ng-deep .p-calendar .p-inputtext {
  // flex: 1 1 auto;
  width: 10px;
}
.clear-button {
  width: 110px;
  height: 36px;
  padding: 6px, 6px, 6px, 8px;
  border-radius: 4px;
  border: 1px;
  color: #c81a78;
  border: 1px solid #c81a78;
  background: white;
}
::ng-deep .dropdown-manager .p-dropdown {
  width: auto;
  height: 36px;
  // padding-top: 12px;
  // padding-right: 8px;
  // padding-bottom: 12px;
  // padding-left: 8px;
  // border-radius: 4px;
  gap: 8px;
  background: #efefef;

  .p-placeholder {
    //   width: 93px;
    // height: 16px;
    //styleName: Body 2;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    // line-height: 16px;
    // letter-spacing: 0.25px;
    // text-align: left;
    color: #00000099;
  }
}
.questionsidebar {
  .question-design {
    // height: 23px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.150000006px;
    text-align: left;
    color: #652d90;
    padding: 3% 0% 3% 0%;
  }
  .select-size input {
    display: none;
  }

  .option {
    display: flex;
    align-items: center;
    color: #00000061;
  }
  .option-content {
    padding: 0.8% 1% 0.8% 1%;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    width: 100%;
  }
  .select-size {
    padding-bottom: 2%;
    border-bottom: 1px solid #0000001f;
  }
  .option {
    font-weight: 450;
    gap: 1%;
    margin-bottom: 1%;
    .box-design {
      border: 1px solid #c1abd3;
      width: 5%;
      border-radius: 4px;
      text-align: center;
      padding: 5px;
    }
    &:hover:not(.correctAnswer) {
      .box-design,
      .option-content {
        background: #c1abd3;
        color: white;
      }
    }
  }
  .correctAnswer {
    .option-content {
      background: #f9f5d1;
      color: #652d90;
    }
    .box-design {
      background: #652d90;
      color: white;
    }
  }

  .btnfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .instruction {
      font-size: 16px;
      font-family: "Poppins";
      font-weight: 400;
      color: #00000099;
      padding: 2% 0% 2% 0%;
    }
    .quiz-instruction {
      padding-bottom: 5%;
      border-bottom: 1px solid #0000001f;
    }
    .points {
      font-family: "Roboto";
      color: #00000099;
      font-weight: 400;
      padding-left: 4%;
      li {
        padding-bottom: 1%;
      }
    }

    .sidebarbuttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 5%;
    }
  }

  ::ng-deep {
    .p-sidebar .p-sidebar-header {
      padding: 1.25rem;
      border: 1px solid #0000001f;
      color: #1e22aa;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 20px;
    }
    .p-sidebar {
      width: 45%;
    }
  }
}
.custom_button_send {
  ::ng-deep .p-button {
    color: white;
    background: #652d90;
    border: 1px solid #652d90;
    height: 90%;
    &:hover {
      color: white;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
.custom_button {
  gap: 3%;
  ::ng-deep .p-button {
    color: #652d90;
    background: #ffffff;
    border: 1px solid #652d90;
    height: 90%;
    &:hover {
      color: #652d90;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

// label {
//   display: inline-block;
//   width: 32px;
//   height: 32px;
//   text-align: center;
//   border: 1px solid #ddd;
//   line-height: 32px;
//   cursor: pointer;
//   border-radius: 8px;
//   color: #00000061;
// }

.search-filter {
  width: 138px;
  height: 36px;
  padding: 8px;
  border-radius: 4px;
  border: 1px;
  gap: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),
    linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid #00000061;
}
.schedule-tab {
  // display: flex;
  // flex-direction: vertical;
  // // margin-right: 100px;
}

::ng-deep .p-tabview .p-tabview-nav {
  background: #ffffff;

  border: none;
}
.table-icons {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-content: center;
  text-align: center;
}

.schedule-home {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.25px;
  text-align: left;
  width: 39px;
  height: 19px;
  color: #000000;
}

.schedule-word {
  color: #1e22aa;
  font-family: "Manrope";
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.25px;
  text-align: left;
  width: 66px;
  height: 19px;
}

.top-right-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.no-focus-outline {
  outline: none;
  border: 1px solid #ccc;
}

.table-container {
  width: 100%;
}
.p-dropdown-list {
  max-height: 5px;
  overflow: auto;
}
.page_sec {
  background-color: whitesmoke;
  width: 100%;
}
.create_button {
  .p-button {
    background: #526d82;
  }
}
.btn {
  width: 116px;
  height: 36px;
  //padding: 6px, 6px, 6px, 8px;
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-radius: 4px;
  background-color: #652d90;
  color: white;
  border: none;
  // justify-content: center;
}
.btn_cancel {
  background: transparent;
  color: #526d82;
  font-weight: 600;
}
.ui-dialog-content {
  padding: 1rem;
  /* Add padding to the content inside the dialog */
}
.p-field {
  margin-bottom: 1rem;
  /* Add space between form fields */
}
.p-dialog-footer .btn-cancel {
  background-color: #ccc;
  color: #333;
  border: none;
}
/* Style the Send button */
.p-dialog-footer .btn-send {
  background-color: #007bff;
  color: #fff;
  border: none;
}
:host ::ng-deep .ng-dirty.ng-invalid {
  border: 1px solid #ced4da;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  color: white;

  //text-align: center;

  margin-left: 47%;

  width: 500px;
}

// Added before meet

.top-left-button {
  align-self: flex-start;
  margin: 10px;
  cursor: pointer;
}

.top-right-button {
  align-self: flex-end;

  cursor: pointer;
}

.question_sec {
  color: #fff;

  max-height: 450px;

  overflow: hidden auto;

  margin-left: 5%;
}

.choices {
  margin-bottom: 5px;
}

.page_submit_btn_sec {
  justify-content: end;
}

.vertical-options {
  display: flex;

  flex-direction: column;
}

.option1 {
  margin-bottom: 10px;

  margin-right: 20px;

  margin-left: 3px;

  font-weight: bold;

  background: #526d82;

  color: white;
}

:host ::ng-deep .p-checkbox-box {
  margin: 4px 0px 0px 0px;
}

:host ::ng-deep .p-radiobutton-box {
  height: 20px;

  width: 20px;

  border-radius: 100%;
}

.text_area_ans {
  padding-bottom: 20px;
}

:host ::ng-deep .question-column {
  padding: 8px;

  text-align: center;
}

.save_sec {
  width: 40px;

  height: 40px;

  display: flex;

  align-items: center;

  justify-content: center;

  border: 1px solid #fff;

  border-radius: 20px;
}

.save_button {
  width: 40px;

  height: 40px;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  border: 2px solid #fff;

  // margin-left: 90%;

  margin-top: 19px;

  margin-right: 19px;
}
.scheduleTable {
  ::ng-deep {
    .p-datatable {
      position: relative;
      border: 1px solid #0000001f;
      border-radius: 8px;
    }
  }
}

.save_button_disabled {
  width: 40px;

  height: 40px;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  border: 2px solid grey;

  // margin-left: 90%;

  margin-top: 19px;

  margin-right: 19px;
}

.File-link {
  text-decoration: underline;

  color: blue;
  cursor: pointer;
}

.correct-option {
  background-color: blue;
}

.Score-Result {
  color: #fff;

  margin-left: 75%;

  width: 500px;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: bolder;
}

.p-button.p-button-danger:enabled:hover {
  background: lightblue;

  color: #ffffff;

  border-color: #dc2626;
}

.p-button:enabled:hover {
  background: lightblue;

  color: #ffffff;

  border-color: lightgreen;
}

.leftbutton {
  margin-right: 10px;

  margin-left: 5px;
}

.light-green {
  background-color: lightgreen;

  border: 1px solid green;

  color: black;
}

.light-red {
  background-color: lightcoral;

  border: 1px solid red;

  color: black;
}

// Option styles
.option-input {
  margin-bottom: 10px;
}

.option-label {
  margin-right: 10px;
}

.option-box {
  display: inline;
}

.radio-option {
  display: inline;
  margin-right: 10px;
}

.wide-input {
  width: 100%;
}
.newSchedule-Dialog {
  ::ng-deep {
    .p-dialog .p-dialog-header .p-dialog-title {
      font-family: "Poppins";
      font-weight: 500;
      color: #1e22aa;
    }
    .p-dialog .p-dialog-header {
      padding: 1rem;
      border-bottom: 1px solid #0000001f;
    }
    .p-dialog .p-dialog-content {
      padding: 0 1.5rem 2rem 1rem;
      border-bottom: 2px solid #0000001f;
    }
    .p-inputtext {
      width: 100%;
    }
    .p-dropdown {
      width: 100%;
    }
    .p-multiselect {
      width: 100%;
    }
    .p-dialog .p-dialog-footer {
      padding: 12px;
    }
    .p-multiselect.p-multiselect-chip
      .p-multiselect-token
      .p-multiselect-token-icon {
      display: none;
    }
    .p-multiselect.p-multiselect-chip .p-multiselect-token {
      background: #00000061;
      color: white;
      border-radius: 16px;
      font-size: 90%;
      padding: 1% 2% 2% 2%;
    }
  }
  .labelvalue {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-weight: 400;
    color: #00000099;

    .label {
      padding: 2% 0 2% 0;

      span {
        color: #ee4555;
      }
    }
  }
  .cuttoffDuration {
    display: flex;
    flex-direction: row;

    ::ng-deep .p-inputtext {
      width: 150%;
    }

    .labelvalue {
      display: flex;
      flex-direction: column;
      padding-right: 17.3%;

      .label {
        padding: 6% 0 6% 0;
      }
    }
  }
}

.sendinvite {
  .wholedialog {
    display: flex;
    flex-direction: column;

    .dialogcontent {
      padding: 1rem 1rem 1rem 0;
    }
    .btnfooter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 1rem 1rem 0.3rem;
    }
  }

  ::ng-deep {
    .p-dialog-draggable .p-dialog-header {
      cursor: move;
      padding: 1rem 1rem 1rem 1.5rem;
      border: 1px solid #0000001f;
      color: #1e22aa;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 20px;
    }
    .p-multiselect {
      width: 100%;
    }
    .p-dialog .p-dialog-content {
      padding: 0 1.5rem 0rem 1.5rem;
    }
    .p-multiselect.p-multiselect-chip
      .p-multiselect-token
      .p-multiselect-token-icon {
      display: none;
    }
    .p-multiselect.p-multiselect-chip .p-multiselect-token {
      background: #00000061;
      color: white;
      border-radius: 16px;
      font-size: 90%;
      padding: 1.5% 2% 2% 2%;
    }
  }
}