<div class="signup-container">
  <form (ngSubmit)="forgotpassword()">
    <p-card>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input type="text" pInputText placeholder="Name" [(ngModel)]="name" name="name" />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input type="text" pInputText placeholder="Email" [(ngModel)]="emailId" name="emailId" />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock"></i>
        </span>
        <input type="password" pInputText placeholder="Password" [(ngModel)]="password" name="password" />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock"></i>
        </span>
        <input type="password" pInputText placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" />
      </div>

      <p-toast></p-toast>
      <button
        pButton
        type="submit" 
        label="Submit"
        class="p-button-primary"
        [disabled]="!name || !emailId || !password || !confirmPassword"
      ></button>
    </p-card>
  </form>
</div>
