<div class="l1Screen">
  <div class="l1Screen-header">
    <div class="l1Screen-header-1">
      <div class="title">
        <p>Main Screen</p>
      </div>
      <div class="header-breadcrumb">
        <p-breadcrumb
          class="BreadCrumb"
          [model]="items"
          [style]="{ border: 'none' }"
        ></p-breadcrumb>
      </div>
    </div>
    <div class="new-schedule-header-2">
      <div class="date">
        {{ todayDate | date }}
      </div>
    </div>
  </div>

  <p-toast></p-toast>
  <div class="l1-table">
    <p-table
      #dt2
      [value]="l1Screen"
      editMode="row"
      dataKey="uniqueId"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5,10,15,20, 25, 50]"
      [loading]=""
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="[
        'mappedData.pcrId',
        'mappedData.candidateId',
        'screeningDate',
        'mappedData.testStatus',
        'pcrData.agileId'
      ]"
      [tableStyle]="{ 'min-width': '80rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="totalSearch">
          <span class="p-input-icon-double">
            <i class="pi pi-search left-icon"></i>
            <input
              pInputText
              type="text"
              class="searchIcon"
              (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
              [(ngModel)]="globalSearchValue"
              placeholder="Search keyword"
            />
          </span>
          <div class="ml-3">
            <button
              pButton
              label="Clear Search"
              class="clear-button cursor-pointer"
              (click)="clear(dt2)"
            ></button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr [pEditableRow]="l1Screen">
          <th>
              PCR ID
          </th>
          <th>
            AGILE ID
          </th>
          <th>
            EMP ID
          </th>
          <th>
            SCREENING DATE
          </th>
          <th>
            TEST RESULT
          </th>
          <th>
            OVERALL STATUS
          </th>
          <th>PANEL MEMBERS</th>
          <th>SCHEDULE DATE</th>

          <th></th>
          <th></th>
        </tr>
</ng-template>
        <ng-template pTemplate="body" let-l1 let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="l1">
              <td>
                {{ l1.mappedData.pcrId }}
              </td>
              <td>
                {{ l1.pcrData.agileId }}
              </td>
              <td class="pcr-link">
                <a (click)="individualPCR(l1.mappedData.candidateId)">{{l1.mappedData.candidateId}}</a>
              </td>
              <td>
                {{ l1.screeningDate }}
              </td>
              <td>
                {{ l1.mappedData.testStatus }}
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <div class="dropdowns">
                      <p-dropdown
                        [options]="currentStatus"
                        appendTo="body"
                        optionValue="value"
                        [(ngModel)]="l1.mappedData.currentStatus"
                        optionLabel="name"
                        [showClear]="true"
                        placeholder="Status"
                        (onChange)="onStatusChange(l1)"
                      ></p-dropdown>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{l1.mappedData.currentStatus}}
                  </ng-template>
              </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <div class="multiselect">
                      <p-multiSelect
                        [options]="panelMembers"
                        [(ngModel)]="l1.mappedData.currentPanel"
                        optionValue="value"
                        appendTo="body"
                        [filter]="true"
                        optionLabel="names"
                        placeholder="Select Panel"
                      ></p-multiSelect>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{l1.mappedData.currentPanel}}
                  </ng-template>
              </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                      <div class="calender-field">
                        <p-calendar
                          [appendTo]="'body'"
                          dateFormat="mm/dd/yy"
                          [(ngModel)]="l1.mappedData.currentInterviewDate"
                          [showIcon]="true"
                        ></p-calendar>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{l1.mappedData.currentInterviewDate  | date: 'MM/dd/yyyy'}}
                    </ng-template>
                </p-cellEditor>
            </td>

              <td>
                  <div class="flex align-items-center justify-content-center gap-2">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(l1.mappedData)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(l1.mappedData)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(l1, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </div>
              </td>
              <td>
                <div class="pi-pi">
                <i class=" pi pi-save"  (click)="confirmPosition(l1)"   style="font-size: 1.5rem"></i>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
<p-confirmDialog
  class="confirm-design"
  [style]="{ width: '40vw' }"
  key="positionDialog"
  [position]="position"
  rejectButtonStyleClass=""
></p-confirmDialog>
