<p-tabView *ngIf="name">
  <!-- <p-tabPanel> -->
    <!-- <div></div> -->
   
    <ng-template pTemplate="header">
      
      <i
        class="pi pi-home"
        style="color: #000000; width: 15px; height: 11; top: 2.6px; left: 3px"
      ></i>
    </ng-template>
    <div class="page_sec h-full p-3" *ngIf="name" else errorname>
      <!--Filter and Create button  -->
      <div class="flex justify-content-end ">
        <button
          class="btn flex align-items-center cursor-pointer"
          (click)="addNewRow()"
        >
          <span class="new-schedule">New Schedule</span>
        </button>
      </div>
    </div>
    <!-- Mail Icon -->
  <!-- </p-tabPanel> -->
  <div></div>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="schedule-tab">
        <span >Schedules</span>
        
      </div>
      <span class="schedule-home">Home</span>
        <i class="pi pi-angle-right" style="color: slateblue"></i>
        <span class="schedule-word">Schedules</span>
     
    </ng-template>
  </p-tabPanel>
</p-tabView>

<div class="card">
  <p-table
    [paginator]="true"
    [value]="candidateList"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    let
    i="index"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">Seq.No</th>
        <th style="width: 25%">Schedule Name</th>
        <th style="width: 25%">Manager</th>
        <!-- <th style="width:25%">Validity</th> -->
        <th style="width: 25%">Skills</th>
        <th style="width: 25%">Status</th>
        <th style="width: 25%" ></th>
        <!-- <th style="width: 25%"></th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>

        <td>{{ rowData.JobDescription }}</td>
        <td>{{ rowData.Managername }}</td>
        <!-- <td>{{ rowData.Managername }}</td> -->

        <td>{{ rowData.fileName }}</td>

        <td>{{ rowData.Managername }}</td>
        <td class="table-icons">
          <!--Edit Icon-->
          <div class="mr-3 cursor-pointer" *ngIf="name">
            <a
              (click)="
                handleEditIconClick(
                  rowData.Managername,
                  rowData.fileName
                )
              "
              [class.disabled]="!rowData.isEdit"
              title="Edit"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#526D82"
                x="0px"
                y="0px"
                width="24"
                height="18"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z"
                ></path>
              </svg>
            </a>
          </div>
        <!-- </td>
        <td> -->
          <!--View Icon-->
          <div class="mr-3 cursor-pointer" *ngIf="name">
            <a
              [class.disabled]="!rowData.isMail"
              title="View"
              (click)="
                onViewClick(rowData.Managername, rowData.fileName)
              "
            >
             
            </a>
          </div>
        </td>
      </tr>
      
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
