.top-right-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; 
    }
    
    .table-container {
    background-color: #003268;
    // color: white;
    }

    .p-dropdown-list{
        max-height: 5px;
        overflow: auto;
    }

    .page_sec{
        padding: auto;
    }

    .create_button {
        .p-button {
            background: #297bcc;
        }
    }
    