<p-tabView *ngIf="name; else wrongname">
  <p-tabPanel>
    <!-- <div></div> -->
    <ng-template pTemplate="header">
      <span *ngIf="name">Schedule</span>
    </ng-template>
    <div class="page_sec h-full p-3" *ngIf="name" else errorname>
      <!--Filter and Create button  -->
      <div class="flex justify-content-end mb-3">
        <button
          class="btn mr-3 flex align-items-center cursor-pointer"
          (click)="op.toggle($event)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="#fff"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          <span>Filter</span>
        </button>
        <button
          class="btn flex align-items-center cursor-pointer"
          (click)="addNewRow()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="#fff"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              fill="#fff"
            />
          </svg>
          <span>Create</span>
        </button>
      </div>
      <!-- Table Contents -->
      <div class="table-container">
        <p-table
          class="custom_table"
          [columns]="cols"
          [value]="Tdata"
          [scrollable]="true"
          scrollHeight="calc(79vh - 10px)"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="Managername" style="width: 20rem">
                Manager <p-sortIcon field="Managername"></p-sortIcon>
              </th>
              <th style="width: 20rem">File Name</th>
              <th style="width: 3rem">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr class="table-row">
              <td style="width: 20rem">
                <ng-container
                  *ngIf="rowData.Managername; else elseManagerTemplate"
                >
                  {{ rowData.Managername }}
                </ng-container>
                <ng-template #elseManagerTemplate>
                  <div class="w-5">
                    <p-dropdown
                      appendTo="body"
                      class="table_dropdown"
                      [options]="managerOption"
                      [(ngModel)]="selectedManager"
                      placeholder="--Select--"
                      optionLabel="Managername"
                      (onChange)="dropFunction(rowData)"
                    >
                    </p-dropdown>
                  </div>
                </ng-template>
              </td>
              <td style="width: 20rem">{{ rowData.fileName }}</td>
              <td style="width: 3rem">
                <!-- Actions Button -->
                <div class="flex ccc">
                  <!-- Create Icon -->
                  <div class="mr-2 cursor-pointer">
                    <a
                      [routerLink]="!rowData.isCreate ? null : ['/create']"
                      [class.disabled]="!rowData.isCreate"
                      href="/create"
                      title="Create"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#526D82"
                        height="18"
                        viewBox="0 0 448 512"
                      >
                        <path
                          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                        />
                      </svg>
                    </a>
                  </div>
                  <!-- Edit Icon -->
                  <div class="mr-2 cursor-pointer" *ngIf="name">
                    <a
                      (click)="
                        handleEditIconClick(
                          rowData.Managername,
                          rowData.fileName
                        )
                      "
                      [class.disabled]="!rowData.isEdit"
                      title="Edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#526D82"
                        x="0px"
                        y="0px"
                        width="24"
                        height="18"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                  <!-- View Icon -->
                  <div class="mr-2 cursor-pointer" *ngIf="name">
                    <a
                      [class.disabled]="!rowData.isMail"
                      title="View"
                      (click)="
                        onViewClick(rowData.Managername, rowData.fileName)
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#526D82"
                        height="18"
                        viewBox="0 0 576 512"
                      >
                        <path
                          d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                        />
                      </svg>
                    </a>
                  </div>
                  <!-- Mail Icon -->
                  <div class="mr-2 cursor-pointer" *ngIf="name">
                    <a
                      [class.disabled]="!rowData.isMail"
                      (click)="
                        openEmailDialog(rowData.Managername, rowData.fileName)
                      "
                      title="Mail"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#526D82"
                        height="18"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-overlayPanel #op styleClass="custom_overlay">
        <div>
          <div class="mb-3 flex flex-column">
            <label class="mb-1" for="manager">Manager</label>
            <p-dropdown
              appendTo="body"
              class="w-full table_dropdown"
              [options]="managerOption"
              [(ngModel)]="filterManager"
              placeholder="--Select--"
              optionLabel="Managername"
            >
            </p-dropdown>
          </div>
          <div class="mb-3 flex flex-column">
            <label class="mb-1" for="skill">Skill</label>
            <p-multiSelect
              appendTo="body"
              class="w-full table_dropdown"
              [options]="skillSet"
              [(ngModel)]="filterSkills"
              placeholder="--Select--"
              optionLabel="skill"
            >
            </p-multiSelect>
          </div>
          <div class="flex justify-content-end">
            <button
              class="btn btn_cancel cursor-pointer mr-3"
              (click)="op.hide()"
            >
              Cancel
            </button>
            <button class="btn cursor-pointer" (click)="onSearchClick()">
              Search
            </button>
          </div>
        </div>
      </p-overlayPanel>
    </div>
    <!-- Mail Icon -->
  </p-tabPanel>
  <!----------------------------------------Assessment Page---------------------------------------------------------->
  <div></div>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>Assessment</span>
    </ng-template>
   
 
    <!-- filter -->
    <div class="flex justify-content-end mb-3 pt-3">
      <button
        class="btn mr-3 flex align-items-center cursor-pointer"
        (click)="paneloverlay.toggle($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="#fff"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
          />
        </svg>
        <span>Filter</span>
      </button>
    </div>
 
    <!-- Panel overlay design -->
 
    <p-overlayPanel #paneloverlay styleClass="custom_overlay">
      <div>
        <div class="mb-3 flex flex-column">
          <label class="mb-1" for="manager">Candidate Name</label>
          <p-dropdown
            appendTo="body"
            class="w-full table_dropdown"
            [options]="candidateNames"
            [(ngModel)]="candidateNames1"
            placeholder="--Select--"
            [optionLabel] = "candidateName"
          >
          </p-dropdown>
        </div>
        <div class="mb-3 flex flex-column">
          <label class="mb-1" for="skill">Result</label>
 
          <p-dropdown
            appendTo="body"
            class="w-full table_dropdown"
            [options]="candidateListData"
            [(ngModel)]="candidateresult"
            placeholder="--Select--"
           
          >
          </p-dropdown>
        </div>
        <div class="flex justify-content-end">
          <button
            class="btn btn_cancel cursor-pointer mr-3"
            (click)="paneloverlay.hide()"
          >
            Cancel
          </button>
          <button class="btn cursor-pointer" (click)="filterCandidateAssessment()">
            Search
          </button>
        </div>
      </div>
    </p-overlayPanel>
 
 
    <div class="table-container px-3">
      <p-table
        class="custom_table"
        [columns]="cols"
        [value]="candidateList"
        [scrollable]="true"
        scrollHeight="calc(79vh - 10px)"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              pSortableColumn="email_Managername"
              style="width: 20rem"
              *ngIf="name"
            >
              Manager <p-sortIcon field="email_Managername"></p-sortIcon>
            </th>
            <th pSortableColumn="candidateName" style="width: 20rem" *ngIf="name">Candidate Name
            <p-sortIcon field="candidateName"></p-sortIcon>
            </th>
            <th style="width: 20rem">File Name</th>
             <th pSortableColumn="email_Status" style="width: 20rem">
          Status <p-sortIcon field="Status"></p-sortIcon>
        </th>
 
        <th pSortableColumn="score" style="width: 3rem">
          Score
 
          <p-sortIcon field="score"></p-sortIcon>
        </th>
 
        <th pSortableColumn="result" style="width: 20rem">
          Result
 
          <p-sortIcon field="result"></p-sortIcon>
        </th>
            <!-- <th></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr class="table-row">
            <td style="width: 20rem" *ngIf="name">
              {{ rowData.email_Managername }}
            </td>
            <td style="width: 20rem" *ngIf="name">
              {{ rowData.candidateName }}
            </td>
            <td style="width: 20rem">
              <ng-container
                *ngIf="
                  rowData.email_Status === 'Submitted' ||
                    rowData.email_Status === 'Completed';
                  else normalText
                "
              >
                <a class="File-link" (click)="showDialog(rowData)">{{
                  rowData.email_Filename
                }}</a>
              </ng-container>
 
              <ng-template #normalText>
                {{ rowData.email_Filename }}
              </ng-template>
            </td>
           
            <td style="width: 20rem">{{ rowData.email_Status }}</td>
            <td style="width: 20rem">{{ rowData.score }}</td>
            <td style="width: 20rem">{{ rowData.result }}</td>
            <!-- <td>
              <div pTooltip=" StartDate: 12/12/2022 &nbsp; EndDate: 13/12/2022">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-info-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                  />
                </svg>
              </div>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
 
 
 
      <p-dialog
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '75vw' }"
        [draggable]="false"
        [resizable]="false"
        class="reviewer_dialog"
        [closable]="false"
      >
      <p-header>
 
        <div class="top-right-button">
 
          <ng-container
          *ngIf="dialogEmailStatus === 'Completed'; else submitButton"
        >
          <div
            class="save_button_disabled flex cursor-pointer"
            [disabled]="true"
          >
            <svg
              id="Layer_3"
              width="26"
              viewBox="0 0 30 30"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="grey"
            >
              <style>
                #Layer_3 {
                  fill: grey;
                }
              </style>
 
              <path
                d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z"
              />
 
              <rect height="5" width="2" x="16" y="4" />
            </svg>
          </div>
        </ng-container>
 
        <ng-template #submitButton>
          <p-toast></p-toast>
         
          <div
            pTooltip="Submit"
            class="save_button flex cursor-pointer"
            (click)="submitReview(FinalizedQuestions)"
          >
            <svg
          id="Layer_1"
          width="26"
          viewBox="0 0 30 30"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="white"
        >
          <path
            d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z"
          />
          <rect height="5" width="2" x="16" y="4" />
        </svg>
          </div>
        </ng-template>
 
        </div>
       
    <div class="top-left-button">
 
      <div class="save_sec flex cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="18"
            class="icon"
            fill="#fff"
            (click)="reviewerBack()"
            viewBox="0 0 448 512"
          >
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
            />
          </svg>
        </div>
 
    </div>
 
      </p-header>
 
        <ng-container *ngIf="FinalizedQuestions.length > 0">
          <div
            *ngFor="let question of FinalizedQuestions; let i = index"
            class="question_sec"
          >
            <h3>{{ i + 1 }}. {{ question.question }}</h3>
 
            <ng-container *ngIf="question.questionType === 'Checkbox'">
              <div class="vertical-options-checkbox display-row">
                <div *ngFor="let option of question.options" class="option">
                  <p-checkbox
                    [(ngModel)]="question.selectedOption"
                    class="mr-2"
                    [value]="option"
                    inputId="binary"
                    [class.correct-option]="
                      question.selectedOption &&
                      question.selectedOption.includes(option)
                    "
                    [disabled]="
                      dialogEmailStatus === 'Submitted' ||
                      dialogEmailStatus === 'Completed'
                    "
                  ></p-checkbox>
 
                  <span class="correct-option">
                    {{ option }}
                  </span>
                </div>
              </div>
            </ng-container>
 
            <ng-container *ngIf="question.questionType === 'Radio'">
              <div class="vertical-options">
                <div *ngFor="let option of question.options" class="option">
                  <p-radioButton
                    [(ngModel)]="question.selectedOption"
                    [value]="option"
                    class="mr-1"
                    [class.correct-option]="question.selectedOption === option"
                    [disabled]="
                      dialogEmailStatus === 'Submitted' ||
                      dialogEmailStatus === 'Completed'
                    "
                  ></p-radioButton>
 
                  {{ option }}
                </div>
 
                <ng-container
                  *ngIf="
                    dialogEmailStatus === 'Completed';
                    else reviewDiaButton
                  "
                >
                  <div class="review-buttons">
                    <button
                      pButton
                      type="button"
                      class="p-button leftbutton"
                      (click)="markAsCorrect(i)"
                      style="padding: auto"
                      [disabled]="true"
                      [class.light-green]="
                        question.reviewerResponse === 'Correct'
                      "
                    >
                      <svg
                        id="crt"
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 448 512"
                      >
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
 
                        <style>
                          #crt {
                            fill: green;
                          }
                        </style>
 
                        <path
                          d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                        />
                      </svg>
                    </button>
 
                    <button
                      pButton
                      type="button"
                      class="p-button-danger"
                      (click)="markAsIncorrect(i)"
                      style="padding: auto"
                      [disabled]="true"
                      [class.light-red]="
                        question.reviewerResponse === 'Incorrect'
                      "
                    >
                      <svg
                        id="wrong"
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 384 512"
                      >
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
 
                        <style>
                          #wrong {
                            fill: red;
                          }
                        </style>
 
                        <path
                          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                        />
                      </svg>
                    </button>
                  </div>
                </ng-container>
 
                <ng-template #reviewDiaButton>
                  <div class="review-buttons">
                    <button
                      pButton
                      type="button"
                      class="p-button leftbutton"
                      (click)="markAsCorrect(i)"
                      style="padding: auto"
                      [class.light-green]="
                        buttonColors[i] && question.isCorrect
                      "
                      [class.light-red]="
                        buttonColorsWrong[i] && question.isCorrect
                      "
                    >
                      <svg
                        id="crt"
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 448 512"
                      >
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
 
                        <style>
                          #crt {
                            fill: green;
                          }
                        </style>
 
                        <path
                          d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                        />
                      </svg>
                    </button>
 
                    <button
                      pButton
                      type="button"
                      class="p-button-danger"
                      (click)="markAsIncorrect(i)"
                      style="padding: auto"
                      [class.light-green]="
                        buttonColors[i] && !question.isCorrect
                      "
                      [class.light-red]="
                        buttonColorsWrong[i] && !question.isCorrect
                      "
                    >
                      <svg
                        id="wrong"
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 384 512"
                      >
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
 
                        <style>
                          #wrong {
                            fill: red;
                          }
                        </style>
 
                        <path
                          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                        />
                      </svg>
                    </button>
                  </div>
                </ng-template>
              </div>
            </ng-container>
          </div>
        </ng-container>
 
       
       
      </p-dialog>
    </div>
  </p-tabPanel>
</p-tabView>
 
<ng-template #wrongname>
  <div class="flex justify-content-end mb-3 pt-3">
    <button class="btn mr-3 flex align-items-center cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="#fff"
        viewBox="0 0 16 16"
      >
        <path
          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
        />
      </svg>
      <span>Filter</span>
    </button>
  </div>
  <div class="table-container px-3">
    <p-table
      class="custom_table"
      [columns]="cols"
      [value]="candidateList"
      [scrollable]="true"
      scrollHeight="calc(79vh - 10px)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pSortableColumn="email_Managername"
            style="width: 20rem"
            *ngIf="name"
          >
            Manager <p-sortIcon field="email_Managername"></p-sortIcon>
          </th>
          <th style="width: 20rem" *ngIf="name">Candidate Name</th>
          <th style="width: 20rem">File Name</th>
          <th style="width: 20rem">Status</th>
          <th style="width: 20rem">Score</th>
          <th style="width: 20rem">S/R</th>
          <!-- <th></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr class="table-row">
          <td style="width: 20rem" *ngIf="name">
            {{ rowData.email_Managername }}
          </td>
          <td style="width: 20rem" *ngIf="name">{{ rowData.candidateName }}</td>
          <!-- <td style="width: 20rem">{{ rowData.email_Filename }}</td> -->
          <td style="width: 20rem">
            <ng-container
              *ngIf="rowData.email_Status == 'Not Started'; else normalText"
            >
              <a class="File-link" (click)="sendQuestions(rowData)">{{
                rowData.email_Filename
              }}</a>
            </ng-container>
 
            <ng-template #normalText>
              {{ rowData.email_Filename }}
            </ng-template>
          </td>
 
          <td style="width: 20rem">{{ rowData.email_Status }}</td>
          <td style="width: 20rem">{{ rowData.score }}</td>
          <td style="width: 20rem">{{ rowData.result }}</td>
          <!-- <td>
            <div pTooltip=" StartDate: 12/12/2022 &nbsp; EndDate: 13/12/2022">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>
            </div>
          </td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>
 
<p-dialog
  [visible]="displayEmailDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '25vw' }"
  [closable]="false"
  class="mail_dialog"
>
  <!-- [showHeader]="false" -->
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user"></i>
        <span>New User</span>
      </ng-template>
      <form class="mt-3" (ngSubmit)="sendEmail()">
        <div class="p-fluid">
          <div class="p-field">
            <input
              type="text"
              pInputText
              placeholder="Name"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="candidateName"
              required
            />
          </div>
          <div class="p-field">
            <input
              type="email"
              pInputText
              [ngModelOptions]="{ standalone: true }"
              placeholder="Email"
              [(ngModel)]="candidateEmail"
              required
            />
          </div>
          <div class="p-field">
            <p-inputNumber
              [(ngModel)]="candidatePhone"
              mode="decimal"
              [ngModelOptions]="{ standalone: true }"
              optionLabel:phone
              placeholder="Phone"
              inputId="withoutgrouping"
              [useGrouping]="false"
            >
            </p-inputNumber>
          </div>
          <!-- Password field -->
 
          <!-- <div class="p-field">
            <input
              type="text"
              pInputText
              [ngModelOptions]="{ standalone: true }"
              placeholder="Password"
              [(ngModel)]="candidatePassword"
              required
            />
          </div> -->
          <!-- Confirm password field -->
          <!-- <div class="p-field">
            <input
              type="text"
              pInputText
              [ngModelOptions]="{ standalone: true }"
              placeholder="ConfirmPassword"
              [(ngModel)]="candidateConfirmPassword"
              required
            />
          </div> -->
        </div>
 
        <div class="flex justify-content-end">
          <button
            class="btn btn_cancel cursor-pointer mr-3"
            (click)="cancelEmailPopup()"
          >
            Cancel
          </button>
          <button class="btn cursor-pointer" (click)="storeCandidate()">
            Send
          </button>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-user"></i>
        <span>Existing User</span>
      </ng-template>
      <div class="mb-3 flex flex-column">
        <label class="mb-1" for="skill">Candidate Name</label>
        <p-multiSelect
          appendTo="body"
          class="w-full table_dropdown"
          placeholder="--Select--"
          [options]="candidateNames"
          [(ngModel)]="selectedCandidates"
        >
        </p-multiSelect>
      </div>
      <div class="flex justify-content-end">
        <button
          class="btn btn_cancel cursor-pointer mr-3"
          (click)="cancelEmailPopup()"
        >
          Cancel
        </button>
        <button
          class="btn cursor-pointer"
          (click)="loadCandidate(); cancelEmailPopup()"
        >
          Send
        </button>
      </div>
      <p></p>
    </p-tabPanel>
  </p-tabView>
</p-dialog>