<div class="mappingPage">
  <div class="mappingPage-header">
    <div class="mappingPage-header-1">
      <div class="title">
        <p>PCR-Mapping</p>
      </div>
      <div class="header-breadcrumb">
        <p-breadcrumb
          class="BreadCrumb"
          [model]="items"
          [style]="{ border: 'none' }"
        ></p-breadcrumb>
      </div>
    </div>
    <div class="mappingPage-header-2">
      <div class="date">
        {{ todayDate | date }}
      </div>
    </div>
  </div>

  <div class="mappingTable">
    <p-table
      #dt2
      dataKey="uniqueId"
      [rows]="5"
      [showCurrentPageReport]="true"
      [value]="mappingData"
      [(selection)]="selectedMappedData"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [loading]=""
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="[
        'pcrData.pcrId',
        'candidateData.candidateId',
        'candidateData.candidateName',
        'pcrData.jobTitle',
        'pcrData.scheduleName ',
        'mappedData.testStatus',
        'mappedData.submitTime',
        'mappedData.testScore'
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="9">
            <div class="mappingPage-header-details">
              <div class="mappingPage-header1">
                <div class="p-input-icon-right">
                  <i class="pi pi-search"></i>
                  <input
                    class="searchIcon"
                    pInputText
                    type="text"
                    [(ngModel)]="globalSearchValue"
                    (input)="
                      dt2.filterGlobal($any($event.target).value, 'contains')
                    "
                    placeholder="Search"
                  />
                </div>

                <div class="ml-3">
                  <button
                    pButton
                    label="Clear Search"
                    class="clear-button cursor-pointer"
                    (click)="clear(dt2)"
                  ></button>
                </div>
              </div>
              <div class="mapPcr">
                <button pButton label="Map PCR" (click)="mappingPCR()"></button>
              </div>
              <div class="mapPcr">
                <button pButton label="Send Mail"></button>
              </div>
            </div>
          </th>
        </tr>

        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox
              [value]="mappingData"
            ></p-tableHeaderCheckbox>
          </th>
          <th class="customId">PCR ID</th>
          <th class="customId">Candidate ID</th>
          <th>Candidate Name</th>
          <th>Job Description</th>
          <th>Schedule Name</th>
          <th>Status</th>
          <th>Submission time</th>
          <th>Score</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-i="rowIndex"
        class="tableBody"
      >
        <tr>
          <td>
            <p-tableCheckbox
              [value]="rowData"
              [checked]="rowData.selection"
              (click)="toggleSelection(rowData)"
            ></p-tableCheckbox>
          </td>
          <td>{{ rowData.pcrData.pcrId }}</td>
          <td>{{ rowData.candidateData.candidateId }}</td>
          <td>{{ rowData.candidateData.candidateName }}</td>
          <td>{{ rowData.pcrData.jobTitle }}</td>
          <td>{{ rowData.pcrData.scheduleName }}</td>
          <td>{{ rowData.mappedData.testStatus }}</td>
          <td>{{ rowData.mappedData.submitTime }}</td>
          <td>{{ rowData.mappedData.testScore }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">No Data found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-toast></p-toast>
<div class="newSchedule-Dialog">
  <p-dialog
    header="PCR-Candidate Mapping"
    [(visible)]="mappingDialogVisible"
    [modal]="true"
    [style]="{ width: '47VW' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
    <div class="mappingContent">
      <div class="customInput">
        <div class="pcrDropdown">
          <p-dropdown
            [options]=""
            placeholder="--Select PCR--"
            appendTo="body"
            optionLabel=""
            optionValue=""
          ></p-dropdown>
        </div>
        <div class="candidateMultiselect">
          <p-multiSelect
            [options]=""
            placeholder="--Select candidate--"
            [filter]="true"
            [resetFilterOnHide]="true"
            appendTo="body"
            display="chip"
            [showClear]="false"
            optionLabel=""
            optionValue=""
          ></p-multiSelect>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="customButtons">
        <div class="Cancelbutton">
          <p-button label="Cancel" [outlined]="true" (onClick)="cancelButton()">
          </p-button>
        </div>

        <div class="mapButton">
          <p-button label="Map PCR" (click)="mapPCR()"></p-button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>
