<div class="mappingPage">
  <div class="mappingPage-header">
    <div class="mappingPage-header-1">
      <div class="title">
        <p>PCR-Mapping</p>
      </div>
      <div class="header-breadcrumb">
        <p-breadcrumb
          class="BreadCrumb"
          [model]="items"
          [style]="{ border: 'none' }"
        ></p-breadcrumb>
      </div>
    </div>
    <div class="mappingPage-header-2">
      <div class="date">
        {{ todayDate | date }}
      </div>
    </div>
  </div>

  <div class="mappingTable">
    <p-table
      #dt2
      dataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [loading]=""
      [paginator]="true"
      dataKey="empid"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="[
        'pcrId',
        'candidateId',
        'candidateName',
        'jobTitle',
        'scheduleName',
        'testStatus',
        'submitTime',
        'testScore',
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="9">
            <div class="mappingPage-header">
              <div class="mappingPage-header1">
                <div class="p-input-icon-right">
                  <i class="pi pi-search"></i>
                  <input
                    class="searchIcon"
                    pInputText
                    type="text"
                    [(ngModel)]="globalSearchValue"
                    (input)="
                      dt2.filterGlobal($any($event.target).value, 'contains')
                    "
                    placeholder="Search"
                  />
                </div>

                <div class="ml-3">
                  <button
                    pButton
                    label="Clear Search"
                    class="clear-button cursor-pointer"
                    (click)="clear(dt2)"
                  ></button>
                </div>
              </div>
              <div class="mapPcr">
                <button pButton label="Map PCR"></button>
              </div>
              <div class="mapPcr">
                <button pButton label="Send Mail"></button>
              </div>
            </div>
          </th>
        </tr>

        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox [value]=""></p-tableHeaderCheckbox>
          </th>
          <th class="customId">PCR ID</th>
          <th class="customId" >Candidate ID</th>
          <th>Candidate Name</th>
          <th>Job Description</th>
          <th>Schedule Name</th>
          <th>Status</th>
          <th>Submission time</th>
          <th>Score</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-i="rowIndex"
        class="tableBody"
      >
        <tr>
          <td>
            <p-tableCheckbox
              [value]="rowData"
              [checked]="rowData.selection"
            ></p-tableCheckbox>
          </td>
          <td>{{ rowData.empid }}</td>
          <td>{{ rowData.email }}</td>
          <td>{{ rowData.department }}</td>
          <td>{{ rowData.managerLocation }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">No Data found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
