<div class="page_sec h-full px-3">
  <!-- <h1 class="m-0 heading py-2">Talent Hunt</h1> -->

  <div>
    <div class="flex">
      <!-- <div class="flex flex-column w-3 mr-3">
        <label class="pb-2" style="color: white; font-size: larger"
          >Manager</label
        >
        <p-dropdown
          class="w-100"
          [options]="managerSet"
          [(ngModel)]="selectedManager"
          placeholder="Select Managername"
          defaultLabel="Select Manager"
          optionLabel="Managername"
          display="chip"
        ></p-dropdown>
      </div> -->

      <div
        class="flex flex-column w-3 mr-3"
        style="margin-top: 70px; margin-left: 10px"
      >
        <!-- <label class="pb-3 pt-1" style=" font-size: larger"
          >Skill set</label -->

        <p-multiSelect
          class="w-100"
          [options]="skillSet"
          [(ngModel)]="selectedSkill"
          defaultLabel="Select skills"
          optionLabel="skill"
          display="chip"
        ></p-multiSelect>
      </div>
      <div
        class="card flex flexalign-it;"
        style="margin-top: 45px; margin-left: 10px"
      >
        <!-- <p-button
          label="Submit"
          
          (click)="submitForm()"
          
        ></p-button> -->

        <!-- <i 
        class="pi pi-search" 
        style="font-size: 2rem"
        (click)="submitForm()"
        ></i> -->

        <!-- <i class="fa-solid fa-circle-arrow-right"></i> -->

        <div style="margin-top: 25px; margin-left: 10px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="40"
            (click)="submitForm()"
            style="cursor: pointer"
            viewBox="0 0 512 512"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->

            <!-- Background -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256z"
              fill="#98012e"
            />

            <!-- Arrow -->
            <path
              d="M281 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L136 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l182.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L393 239c9.4 9.4 9.4 24.6 0 33.9L281 385z"
              fill="white"
            />
          </svg>
        </div>

        <div>
          <div>
            <label class="font-bold block mb-2 heading"> Selected </label>
            <h2 class="w-full heading">
              {{ (selectedQuestions && selectedQuestions.length) || 0 }}
            </h2>
          </div>
          <div>
            <label class="font-bold block mb-2 heading"> Cutoff </label>
            <input
              [(ngModel)]="cuttoff"
              name="cutoff"
              placeholder="Cutoff"
              class="p-element p-inputtext p-component w-full"
            />
          </div>
          <div>
            <label class="font-bold block mb-2 heading"> Duration </label>
            <input
              class="p-element p-inputtext p-component w-full"
              [(ngModel)]="duration"
              name="duration"
              placeholder="(Minutes)"
            />
          </div>
        </div>

        <!-- <div class="flex ml-5">
          <div class="custom-card">
            <div class="flex flex-wrap gap-3 mb-4 flex border">
              <div class="flex-row">
                <div class="flex-col">
                    <label class="font-bold block mb-2 heading"
                  >Selected 
                </label>
                <h2
                  pkeyfilter="num"
                  class="p-element p-inputtext p-component w-full"
                >
                  {{ (selectedQuestions && selectedQuestions.length) || 0 }}
                </h2>

                </div>
                
              </div>
              <div class="flex-row">
                <div class="flex-col">

                  <label class="font-bold block mb-2 heading"> Cutoff </label>
                <input
                  pkeyfilter="num"
                  [(ngModel)]="cuttoff"
                  name="cutoff"
                  placeholder="Cutoff"
                  class="p-element p-inputtext p-component w-full"
                />

                </div>
                
              </div>
              <div class="flex-row">
                <div class="flex-col">

                  <label class="font-bold block mb-2 heading"> Duration </label>
                <input
                  pkeyfilter="num"
                  class="p-element p-inputtext p-component w-full"
                  [(ngModel)]="duration"
                  name="duration"
                  placeholder="(Minutes)"
                />


                </div>
                
              </div>
            </div>
          </div>

        </div> -->
      </div>
    </div>

    <ng-container *ngIf="TotalQuestions">
      <div class="flex mt-4">
        <div
          class="flex flex-column w-9 question_sec mr-4"
          *ngIf="TotalQuestions.AWS"
        >
          <h3 class="mt-0 heading">AWS</h3>
          <table class="leetcode-table">
            <thead>
              <tr>
                <th class="checkbox-column"></th>
                <th class="question-column">Question</th>
                <th class="difficulty-column">Difficulty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aws of TotalQuestions.AWS" class="table-row">
                <td class="checkbox-column">
                  <p-checkbox
                    [(ngModel)]="aws.selected"
                    (onChange)="checkboxChanged(aws)"
                    [binary]="true"
                    inputId="aws-checkbox-{{ aws._id }}"
                  ></p-checkbox>
                </td>

                <td class="question-column">{{ aws.question }}</td>

                <td class="difficulty-column">
                  <span
                    *ngIf="aws.Difficulty_Level === 'E'"
                    class="difficulty-badge easy"
                    >easy</span
                  >
                  <span
                    *ngIf="aws.Difficulty_Level === 'M'"
                    class="difficulty-badge medium"
                    >medium</span
                  >
                  <span
                    *ngIf="aws.Difficulty_Level === 'H'"
                    class="difficulty-badge hard"
                    >hard</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="flex flex-column w-9 question_sec mr-4"
          *ngIf="TotalQuestions.JAVA"
        >
          <h3 class="mt-0 heading">JAVA</h3>
          <table class="leetcode-table">
            <thead>
              <tr>
                <th class="checkbox-column"></th>
                <th class="question-column">Question</th>
                <th class="difficulty-column">Difficulty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let java of TotalQuestions.JAVA" class="table-row">
                <td class="checkbox-column">
                  <p-checkbox
                    [(ngModel)]="java.selected"
                    (onChange)="checkboxChanged(java)"
                    [binary]="true"
                    inputId="java-checkbox-{{ java._id }}"
                  ></p-checkbox>
                </td>

                <td class="question-column">{{ java.question }}</td>

                <td class="difficulty-column">
                  <span
                    *ngIf="java.Difficulty_Level === 'E'"
                    class="difficulty-badge easy"
                    >easy</span
                  >
                  <span
                    *ngIf="java.Difficulty_Level === 'M'"
                    class="difficulty-badge medium"
                    >medium</span
                  >
                  <span
                    *ngIf="java.Difficulty_Level === 'H'"
                    class="difficulty-badge hard"
                    >hard</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="w-100 page_submit_btn_sec flex justify_content-end px-3 py-2"
          *ngIf="emptySkill === false"
        >
          <p-button
            label="Save"
            (click)="saveSelected()"
            class="w-100"
            styleClass="color : #9db2bf"
            routerLink="/questiondisplay"
          ></p-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
