.page_sec {
    height: 100%;
}


.heading {
}

.question_sec {
    max-height: 350px;
    overflow: hidden auto;

}

.page_submit_btn_sec {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    justify-content: end;
}