<div class="page_sec h-full px-3">
  <h1 class="m-0 heading py-2">Talent Hunt</h1>

  <div>
    <div class="flex">
      <!-- <div class="flex flex-column w-3 mr-3">
        <label class="pb-2" style="color: white; font-size: larger"
          >Manager</label
        >
        <p-dropdown
          class="w-100"
          [options]="managerSet"
          [(ngModel)]="selectedManager"
          placeholder="Select Managername"
          defaultLabel="Select Manager"
          optionLabel="Managername"
          display="chip"
        ></p-dropdown>
      </div> -->

      <div class="flex flex-column w-3 mr-3">
        <label class="pb-3 pt-1" style="color: white; font-size: larger"
          >Skill set</label
        >
        <p-multiSelect
          class="w-100"
          [options]="skillSet"
          [(ngModel)]="selectedSkill"
          defaultLabel="Select skills"
          optionLabel="skill"
          display="chip"
        ></p-multiSelect>
      </div>
      <div
        class="card flex flexalign-it;"
        style="margin-top: 45px; margin-left: 10px"
      >
        <p-button
          label="Submit"
          (click)="submitForm()"
          styleClass="p-button-danger"
        ></p-button>

        <div class="flex ml-5">
          <ng-container *ngIf="selectedSkill.length > 0">
            <div class="flex flex-column mr-3">
              <label class="pb-3 pt-3" style="color: white; font-size: larger"
                >Total Selected Questions
              </label>
              <h2 class="m-0 heading pl-7 pb-3">
                <!-- *ngIf="selectedQuestions.length > 0" -->
                {{ (selectedQuestions && selectedQuestions.length) || 0 }}
              </h2>
            </div>
            <div class="flex flex-column mr-3">
              <label class="pb-3 pt-3" style="color: white; font-size: larger"
                >CutOff Mark</label
              >
              <p-inputNumber
                inputId="integeronly"
                [(ngModel)]="cuttoff"
                name="cuttoff"
                placeholder="Cuttoff"
              >
              </p-inputNumber>
            </div>
            <div class="flex flex-column">
              <label class="pb-3 pt-3" style="color: white; font-size: larger"
                >Duration in Minutes</label
              >
              <p-inputNumber
                inputId="integeronly"
                [(ngModel)]="duration"
                name="duration"
                placeholder="(Minutes)"
              >
              </p-inputNumber>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- <pre style="color: white">{{ TotalQuestions | json }}</pre> -->
    <ng-container *ngIf="TotalQuestions">
      <div class="flex mt-4">
        <div
          class="flex flex-column w-4 question_sec mr-4"
          *ngIf="TotalQuestions.AWS"
        >
          <h3 class="mt-0">AWS</h3>
          <div class="flex mb-3" *ngFor="let aws of TotalQuestions.AWS">
            <label class="checkbox-label flex mb-3">
              <p-checkbox
                [(ngModel)]="aws.selected"
                (onChange)="checkboxChanged(aws)"
                class="mr-2"
                [binary]="true"
                inputId="aws-checkbox-{{ aws._id }}"
              ></p-checkbox>
              <div [ngStyle]="getDifficultyStyle(aws.Difficulty_Level)">
                <p class="m-0">{{ aws.Difficulty_Level }}</p>
              </div>
              <div>
                <p class="m-0 ml-4">{{ aws.question }}</p>
              </div>
            </label>
          </div>
        </div>

        <div
          class="flex flex-column w-4 question_sec mr-4"
          *ngIf="TotalQuestions.JAVA"
        >
          <h3>JAVA</h3>

          <div class="flex mb-3" *ngFor="let java of TotalQuestions.JAVA">
            <label class="checkbox-label flex mb-3">
              <p-checkbox
                [(ngModel)]="java.selected"
                (onChange)="checkboxChanged(java)"
                class="mr-2"
                [binary]="true"
                inputId="java-checkbox-{{ java._id }}"
              ></p-checkbox>
              <div [ngStyle]="getDifficultyStyle(java.Difficulty_Level)">
                <p class="m-0">{{ java.Difficulty_Level }}</p>
              </div>

              <p class="m-0 ml-4">{{ java.question }}</p>
            </label>
          </div>
        </div>
      </div>
      <div class="w-100 page_submit_btn_sec flex justify_content-end px-3 py-2">
        <p-button
          label="Submit"
          (click)="saveSelected()"
          class="w-100"
          styleClass="p-button-danger"
          routerLink="/questiondisplay"
        ></p-button>
      </div>
    </ng-container>
  </div>
</div>
