@import "primeicons/primeicons.css";

 

 

 

 

 

 

 

.page_sec {

 

 

 

 

 

 

 

    height: 100%;

 

 

 

 

 

 

 

    background-color: #27374d;

 

 

 

 

 

 

 

    .page_top_sec {

 

 

 

 

 

 

 

        background: #526D82;

 

 

 

 

 

 

 

    }

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.question_sec {

 

 

 

 

 

 

 

    max-height: 440px;

 

 

 

 

 

 

 

    overflow-y: scroll;

 

 

 

 

 

 

 

    // visibility: hidden;

 

 

 

 

 

 

 

    &:hover {

 

 

 

 

 

 

 

        visibility: visible;

 

 

 

 

 

 

 

        // overflow-y: scroll;

 

 

 

 

 

 

 

    }

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

.heading {

 

 

 

 

 

 

 

    color: white;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.page_submit_btn_sec {

 

 

 

 

 

 

 

    position: absolute;

 

 

 

 

 

 

 

    left: 0;

 

 

 

 

 

 

 

    width: 100%;

 

 

 

 

 

 

 

    bottom: 0;

 

 

 

 

 

 

 

    justify-content: right;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.table-container {

 

 

 

 

 

 

 

    max-width: 100%;

 

 

 

 

 

 

 

    overflow-x: auto;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.design-table {

 

 

 

 

 

 

 

    width: 100%;

 

 

 

 

 

 

 

    border-collapse: collapse;

 

 

 

 

 

 

 

    border-spacing: 0;

 

 

 

 

 

 

 

    background-color: #fff;

 

 

 

 

 

 

 

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.design-table th,

 

 

 

 

 

 

 

.design-table td {

 

 

 

 

 

 

 

    padding: 8px;

 

 

 

 

 

 

 

    text-align: left;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.design-table th {

 

 

 

 

 

 

 

    background-color: #f5f5f5;

 

 

 

 

 

 

 

    font-weight: bold;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.table-row:nth-child(even) {

 

 

 

 

 

 

 

    background-color: #f2f2f2;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.checkbox-column {

 

 

 

 

 

 

 

    width: 1%;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.skill-column {

 

 

 

 

 

 

 

    width: 40%;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.difficulty-column {

 

 

 

 

 

 

 

    width: 10%;

 

 

 

 

 

 

 

    /* Adjust the width as needed */

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.difficulty-badge {

 

 

 

 

 

 

 

    display: inline-block;

 

 

 

 

 

 

 

    padding: 4px 8px;

 

 

 

 

 

 

 

    font-size: 12px;

 

 

 

 

 

 

 

    font-weight: 500;

 

 

 

 

 

 

 

    border-radius: 12px;

 

 

 

 

 

 

 

    letter-spacing: 0.25px;

 

 

 

 

 

 

 

    text-align: center;

 

 

 

 

 

 

 

    letter-spacing: 0.25px;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.difficulty-badge.easy {

 

 

 

 

 

 

 

    background-color: #5cb85c;

 

 

 

 

 

 

 

    /* Green for Easy difficulty */

 

 

 

 

 

 

 

    color: #fff;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.difficulty-badge.medium {

 

 

 

 

 

 

 

    background-color: #f0ad4e;

 

 

 

 

 

 

 

    /* Orange for Medium difficulty */

 

 

 

 

 

 

 

    color: #fff;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.difficulty-badge.hard {

 

 

 

 

 

 

 

    background-color: #d9534f;

 

 

 

 

 

 

 

    /* Red for Hard difficulty */

 

 

 

 

 

 

 

    color: #fff;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.question-column {

 

 

 

 

 

 

 

    width: 40%;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.checkbox-column input[type="checkbox"] {

 

 

 

 

 

 

 

    margin: 0;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.skill-column .tag {

 

 

 

 

 

 

 

    display: inline-block;

 

 

 

 

 

 

 

    padding: 4px 8px;

 

 

 

 

 

 

 

    margin: 2px;

 

 

 

 

 

 

 

    background-color: #007bff;

 

 

 

 

 

 

 

    color: #fff;

 

 

 

 

 

 

 

    border-radius: 4px;

 

 

 

 

 

 

 

    font-size: 12px;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.skill-column .tag:nth-child(odd) {

 

 

 

 

 

 

 

    background-color: #28a745;

 

 

 

 

 

 

 

    /* Green color for odd-numbered tags */

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.custom_inp {

 

 

 

 

 

 

 

    border: 1px solid transparent;

 

 

 

 

 

 

 

    border-bottom: 1px solid white;

 

 

 

 

 

 

 

    border-radius: 0;

 

 

 

 

 

 

 

    color: white;

 

 

 

 

 

 

 

    background: transparent;

 

 

 

 

 

 

 

    outline: none;

 

 

 

 

 

 

 

    &:hover {

 

 

 

 

 

 

 

        border: 1px solid white;

 

 

 

 

 

 

 

        border-radius: 4px;

 

 

 

 

 

 

 

    }

 

 

 

 

 

 

 

    &:focus {

 

 

 

 

 

 

 

        transition: .3s width ease-in-out;

 

 

 

 

 

 

 

        border: 1px solid white;

 

 

 

 

 

 

 

        border-radius: 4px;

 

 

 

 

 

 

 

        box-shadow: none;

 

 

 

 

 

 

 

    }

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.question_selection {

 

 

 

 

 

 

 

    label,

 

 

 

    p {

 

 

 

 

 

 

 

        font-size: 1rem;

 

 

 

 

 

 

 

    }

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.asses_hdr {

 

 

 

 

 

 

 

    background: #93BFCF;

 

 

 

 

 

 

 

    color: #1e1d1d;

 

 

 

 

 

 

 

    text-align: center;

 

 

 

 

 

 

 

    font-size: 1.25rem;

 

 

 

 

 

 

 

    line-height: 1;

 

 

 

 

 

 

 

}

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

.save_sec {

 

 

 

 

 

 

 

    width: 40px;

 

 

 

 

 

 

 

    height: 40px;

 

 

 

 

 

 

 

    align-items: center;

 

 

 

 

 

 

 

    justify-content: center;

 

 

 

 

 

 

 

    border-radius: 50%;

 

 

 

 

 

 

 

    border: 2px solid #fff;

 

 

 

 

 

 

 

}