<!-- <div class="body">

  <app-navbar></app-navbar>
  <div><router-outlet></router-outlet></div>
  <app-sidenavbar></app-sidenavbar>

    <div class="app_footer"  *ngIf="showNavbar && showNavbar1 && showNavbar2 && showNavbar3 && enablemfa && verifymfa">
        <app-footer></app-footer>
      </div>
</div> -->


 <div class="app_wrapper w-full h-full">
   <p-toast></p-toast>

   <app-navbar ></app-navbar>
   <div class="body-design">
    <div class="sdnav">

      <app-sidenavbar ></app-sidenavbar>
    </div>
   <!-- <app-body class="body-style"></app-body>
   -->
   <div class="body-style">

     <router-outlet></router-outlet>
   </div>
   </div>






  </div>
