<div class="login-container">
  <p-card>
    <img src="../assets\mphasis-logo.png" alt="Logo" width="100" />

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>

      <input type="text" pInputText placeholder="Email" [(ngModel)]="userEmail" id="name" />
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>

      <input
        type="password"
        pInputText
        placeholder="Password"
        [(ngModel)]="password"
        id="password"
      />
    </div>

    <button
      pButton
      type="button"
      label="Sign In"
      class="p-button-primary"
      [disabled]="!userEmail||!password"
      
      (click)="sign()"

    ></button>

    <div class="forgot-password">
      <a href="forgotpassword" (click)="forgotpassword()">Forgot Password?</a>
    </div>

    <div class="signup">Don't have an account? <a href="/signup">Sign Up</a></div>
  </p-card>
</div>
