// /* You can add global styles to this file, and also import other style files */
@import "./styles/common.scss";
@import '~primeicons/primeicons.css';
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
// html,
// body {
//     width: 100%;
//     height: 100%;
//     background-color: #27374D;
// }

// body {
//     margin: 0;
//     font-family: 'Source Sans 3', sans-serif;
//     font-size: 14px;
// }

// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
//     background-color: transparent;
// }

// ::-webkit-scrollbar {
//     width: 8px;
//     background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .3);
//     background-color: #526d82;
// }
