<div class="manageManagers">
    <div class="manageManagers-header">
      <div class="manageManagers-header-1">
        <div class="title">
          <p>Candidate</p>
        </div>
        <div class="header-breadcrumb">
          <p-breadcrumb
            class="BreadCrumb"
            [model]="items"
            [style]="{ border: 'none' }"
          ></p-breadcrumb>
        </div>
      </div>
      <div class="new-schedule-header-2">
        <div class="cancelBtn">
          <p-button label="Close" (onClick)="closeManagerProfile()"> </p-button>
        </div>
      </div>
    </div>
  
    <!-- <div class="managerDetails">
      <p class="name">Suresh</p>
      <p class="department">Delta</p>
      <div class="mailid">
        <i class="pi pi-envelope"></i>
        <p>mailid</p>
      </div>
      <div class="phone">
        <i class="pi pi-phone"></i>
        <p>6382619956</p>
      </div>
      <p class="department">Chennai</p>
    </div> -->
  
    <div class="managerTabview">
      <p-tabView>
        <p-tabPanel header="Profile" [formGroup]="editCandidateForm">
          <ng-template pTemplate="content">
            <div class="profilecontent">
              <div class="labelvalue">
                <div class="label">
                  <label>Employee Id</label>
                  
                </div>
                <div class="value">
                  <p-inputNumber
                    formControlName="employeeId"
                    mode="decimal"
                    inputId="withoutgrouping"
                    [useGrouping]="false"
                  >
                  </p-inputNumber>
                  <!-- <div
                    *ngIf="
                    editCandidateForm.get('employeeId')?.invalid &&
                      (editCandidateForm.get('employeeId')?.touched ||
                        formSubmitted)
                    "
                  >
                    <div
                      class="error-message"
                      *ngIf="
                      editCandidateForm.get('employeeId')?.hasError('required')
                      "
                    >
                      Employee Id is required !
                    </div>
                  </div> -->
                </div>
              </div>
  
              <div class="labelvalue">
                <div class="label">
                  <label>Manager Name</label>
                </div>
                <div class="value">
                  <input type="text" formControlName="candidateName" pInputText />
                  <!-- <div
                    *ngIf="
                    editCandidateForm.get('candidateName')?.invalid &&
                      (editCandidateForm.get('candidateName')?.touched ||
                        formSubmitted)
                    "
                  >
                    <div
                      class="error-message"
                      *ngIf="
                      editCandidateForm.get('candidateName')?.hasError('required')
                      "
                    >
                      Candidate Name is required !
                    </div>
                  </div> -->
                </div>
              </div>
  
              <div class="labelvalue">
                <div class="label">
                  <label>Email</label>
                </div>
                <div class="value">
                  <input type="email" formControlName="email" pInputText />
                  <!-- <div
                    *ngIf="
                    editCandidateForm.get('email')?.invalid &&
                      (editCandidateForm.get('email')?.touched || formSubmitted)
                    "
                  >
                    <div
                      class="error-message"
                      *ngIf="editCandidateForm.get('email')?.hasError('required')"
                    >
                      Email is required !
                    </div>
                  </div> -->
                </div>
              </div>
  
              <div class="labelvalue">
                <div class="label">
                  <label>Phone No</label>
                </div>
                <div class="value">
                  <p-inputNumber
                    formControlName="phone"
                    mode="decimal"
                    inputId="withoutgrouping"
                    [useGrouping]="false"
                  >
                  </p-inputNumber>
                  <!-- <div
                    *ngIf="
                    editCandidateForm.get('phone')?.invalid &&
                      (editCandidateForm.get('phone')?.touched || formSubmitted)
                    "
                  >
                    <div
                      class="error-message"
                      *ngIf="editCandidateForm.get('phone')?.hasError('required')"
                    >
                      Phone no is required !
                    </div>
                  </div> -->
                </div>
              </div>
  
              <div class="labelvalue">
                <div class="label">
                  <label>Department</label>
                </div>
                <div class="value">
                  <input type="text" formControlName="department" pInputText />
                  <!-- <div
                    *ngIf="
                    editCandidateForm.get('department')?.invalid &&
                      (editCandidateForm.get('department')?.touched ||
                        formSubmitted)
                    "
                  >
                    <div
                      class="error-message"
                      *ngIf="
                      editCandidateForm.get('department')?.hasError('required')
                      "
                    >
                      Department is required !
                    </div>
                  </div> -->
                </div>
              </div>
  
              <div class="labelvalue">
                <div class="label">
                  <label>Location</label>
                </div>
                <div class="value">
                  <input type="text" formControlName="location" pInputText />
                  <!-- <div
                    *ngIf="
                    editCandidateForm.get('location')?.invalid &&
                      (editCandidateForm.get('location')?.touched || formSubmitted)
                    "
                  >
                    <div
                      class="error-message"
                      *ngIf="
                      editCandidateForm.get('location')?.hasError('required')
                      "
                    >
                      Location is required !
                    </div>
                  </div> -->
                </div>
              </div>
  
              <!-- <div class="Newschedule-button">
          
                      <div class="Createbutton">
                        <p-button label="Update" (onClick)="updateManager()"> </p-button>
                      </div>
                    </div> -->
            </div>
          </ng-template>
        </p-tabPanel>
        
        <p-tabPanel header="Assessments">
          <div class="candidate-table">
            <p-table
              class="candidateTable"
              [resizableColumns]="true"
              [autoLayout]="true"
              [value]="candidateAssessmentData"
              #dt1
              [paginator]="true"
              [tableStyle]="{ height: 'max-content' }"
              [rows]="5"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[4, 8, 12]"
              [globalFilterFields]="[
                'candidateName',
                'email_Filename',
                'skills',
                'results',
                'score'
              ]"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="9">
                    <div class="filter-components">
                      <div>
                          <span class="p-input-icon-right searchIcon">
                              <input
                                pInputText
                                type="text"
                                placeholder="Search"
                                [(ngModel)]="globalSearchValue"
                                (input)="
                                  dt1.filterGlobal(
                                    $any($event.target).value,
                                    'contains'
                                  )
                                "
                              />
      
                              <i class="pi pi-search"></i>
                            </span>
                      </div>
                      <div >
                        <button
                          pButton
                          label="Clear filter"
                          class="clear-button cursor-pointer"
                          [style]="{ width: '130px' }"
                          (click)="clear(dt1)"
                        ></button>
                      </div>
                    </div>
                  </th>
                </tr>
  
                <tr>
                  <th>Seq.No</th>
                  <th>Assessment</th>
                  <th>Candidate Name</th>
                  <th>Skills</th>
                  <th>Result</th>
                  <th>Score(%)</th>
                </tr>
              </ng-template>
  
              <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td class="assessmentName">{{ rowData.email_Filename }}</td>
                  <td>{{ rowData.candidateName }}</td>
  
                  <td class="skills">
                    <span
                      *ngFor="
                        let item of getFormattedSkills(rowData.Skill).skills
                      "
                    >
                      <p-chip class="scheduleChip" label="{{ item }}"></p-chip>
                    </span>
                    <span
                      *ngIf="getFormattedSkills(rowData.Skill).remainingCount > 0"
                      class="plusIcon"
                    >
                      +
                      <p-overlayPanel #op>
                        <ul
                          *ngFor="
                            let skill of remainaingSkills(
                              rowData.Skill,
                              getFormattedSkills(rowData.Skill).remainingCount
                            )
                          "
                        >
                          <li>
                            {{ skill }}
                          </li>
                        </ul>
                      </p-overlayPanel>
                      <p-badge
                        class="cursor-design"
                        (click)="op.toggle($event)"
                        [value]="
                          getFormattedSkills(
                            rowData.Skill
                          ).remainingCount.toString()
                        "
                      ></p-badge>
                    </span>
                  </td>
  
                  <td>
                    <div class="resultDesign">
                      <p [ngClass]="getResultClass(rowData.results)">
                        <span>{{ rowData.results }}</span>
                      </p>
                    </div>
                  </td>
                  <td>{{ rowData.score }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  