<div class="login-container">
  <div class="login-box">
    <div class="login-slogan">
      <img src="../assets\mphasis-logo.png" alt="Logo" width="100" />
      <p class="heading">MTalent</p>
      <p class="discription">
        Streamline your Hiring process <br />Effortlessly schedule and Assess
        with MTalent
      </p>
    </div>
    <div class="login-card">
      <p-card>
        <!-- <img src="../assets\mphasis-logo.png" alt="Logo" width="100" /> -->
        <h4 class="login-wording">Reset your Password</h4>
        <form [formGroup]="resetForm" (ngSubmit)="reset()">
          <div class="input-with-icon">
            <i class="pi pi-user"></i>
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="emailId"
              id="userEmail"
              name="userEmail"
            />
            <div
            class="error-message"
            *ngIf="resetForm.get('emailId')?.hasError('required') && resetForm.get('emailId')?.invalid && resetForm.get('emailId')?.touched"
          >
            Email is required !
          </div>
          <div
          class="error-message"
          *ngIf="isMailIdInvalid && resetForm.get('emailId')?.hasError('pattern')"
        >
          Please Enter valid Email
        </div>
 
 
          </div>
         
          <div class="input-with-icon">
            <i class="pi pi-lock"></i>
            <input
              id="password"
              formControlName="password"
              class="signup-newpassword"
              type="password"
              pInputText
              placeholder="New Password"
            />
             
                  <div
                    class="error-message"
                    *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.invalid && resetForm.get('password')?.touched "
                  >
                    Password is required !
                  </div>
                  <div
                  class="error-message"
                 *ngIf="isPasswordInvalid && resetForm.get('password')?.hasError('pattern')"
                >
                  Password should match given Criteria
                </div>
            <div class="info-circle">
              <p-overlayPanel
                #op
                class="password-requirements"
                [style]="{ width: '350px' }"
              >
                <p class="password-title">Password Requirements</p>
                <p class="password-content1">
                  To ensure the security of your account, please make sure your
                  password meets the following criteria:
                </p>
                <ul class="password-content2">
                  <li><b>Length:</b> At least 8 characters.</li>
                  <li>
                    <b>Character Variety:</b>
                    <ul>
                      <li>At least one uppercase letter (A-Z)</li>
                      <li>At least one lowercase letter (a-z)</li>
                      <li>At least one number (0-9)</li>
                      <li>
                        At least one special character (e.g., !, @, #, $, %)
                      </li>
                    </ul>
                  </li>
 
                  <li>
                    <b>Unique Information:</b> Avoid using your name, birthdate,
                    or common words.
                  </li>
                </ul>
              </p-overlayPanel>
              <i
                (mouseover)="op.toggle($event)"
                (mouseleave)="op.toggle($event)"
                class="pi pi-info-circle"
                style="color: green"
              ></i>
            </div>
          </div>
 
          <div class="input-with-icon">
            <i class="pi pi-lock"></i>
            <input
              formControlName="confirmPassword"
              class="confirmpassword-signup"
              type="password"
              pInputText
              placeholder="Confirm Password"
            />
            
                  <div
                    class="error-message"
                    *ngIf="resetForm.get('confirmPassword')?.hasError('required')&& resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched "
                  >
                   Confirm Password is required  !
                  </div>
                  <div
                  class="error-message"
                  *ngIf="resetForm?.errors?.['match'] && resetForm.get('confirmPassword')?.touched"
                  >
                  Password and Confirm Password are not Matching
                </div>
                <!-- </div> -->
          </div>
 
          <p-toast></p-toast>
          <div class="button-signup">
            <button
            type="button"
              type="submit"
              class="loginButton"
              [disabled]='!resetForm.valid'
            >Reset</button>
          </div>
        </form>
 
 
        <div class="signup">
          <button type="button" (click)="login()" class="createButton">
            Login
          </button>
        </div>
      </p-card>
      <div class="cardfooter">
        <a class="a1">Privacy Policy</a>
        <i class="pi pi-circle-on"></i>
        <a class="a2">About Us</a>
        <i class="pi pi-circle-on"></i>
        <a class="a3">Contact Us</a>
      </div>
    </div>
  </div>
</div>