@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
     width: calc(100% - 15px);
    color: grey;
     border-top: 1px solid #0000001F;
    height: 8%;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        font:'poppins'
    }
}

.design{
  
gap: 16px;
a{
text-decoration: none;
color: #00000061;
font:'poppins'
}

}
